/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
 margin: 0; 
 padding: 0;
}
header.main {
       	text-align: center; // center on mobile   
	@media (min-width: 30em) {
	 text-align: left; // left align on desktop
  }
  background: #282; 
  margin: 0;
  h1 {
   display: none;
  }
 }
 .content {
   margin: 0; 
   padding: 0; 
   display: flex;   
   display: -webkit-flex;
   flex-direction: column; // mobile is horizontally laid out   
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
	
   @media (min-width: 30em) {
    flex-direction: row;  // desktop is vertically laid out 
    -webkit-box-orient: horizontal;   
   }

 nav {
   padding-bottom: 1em;
   background: #141;
   text-align: center;  // mobile has centered nav
   @media (min-width: 30em) {
    text-align: left; // desktop nav is left-aligned
    padding: 1em; // and needs more padding
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
       padding-right: 1em; // give desktop some extra space
      }
    li {
      margin: 0;
      padding: 0.5em;
      text-transform: uppercase;
      letter-spacing: 0.354em;
      a {
	color: #bfb;
	text-decoration: none;
	}
      a:hover {
	background: none;
	color: white;
	}
      }
   }

.tg  {
 border-style:solid; border-collapse:collapse;border-spacing:0;width:100%;height:100%
}
.tgh  {
 border-style:solid; border-collapse:collapse;border-spacing:0;
}
.tgb  {
 border-style:solid; border-collapse:collapse;border-spacing:0;
}
.tgf  {
 border-style:solid; border-collapse:collapse;border-spacing:0;
}
.tg td{
 border-style:solid;border-width:0px;
 font-family:Arial, sans-serif;font-size:14px;overflow:hidden; height: 75px;
 padding:10px 5px;word-break:normal;
}
.tg th{
 border-style:solid;
 border-width:0px;
 font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
 overflow:hidden;padding:10px 5px;word-break:normal; height: 75px
}
.tg .tg-0cjc{
 background-color:#67fd9a;border-color:inherit;text-align:left;vertical-align:top
}
.tg
.tg-kusv{background-color:#fffe65;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-y698{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-ik58{background-color:#ffcb2f;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-7dw8{background-color:#38fff8;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-med2{background-color:#38fff8}
.tg .tg-fqpo{background-color:#cbcefb}
.tg .tg-wvtg{background-color:#34cdf9}
.tg .tg-3ope{background-color:#ffcb2f}
.tg .tg-uhkr{background-color:#ffce93}
.tg .tg-cxkv{background-color:#ffffff}
.tg .tg-jhgd{background-color:#3166ff}
.tg .tg-thls{background-color:#009901}
.tg .tg-b286{background-color:#f56b00}
.tg .tg-702o{background-color:#cdffff}
.tg .tg-jl7l{background-color:#6665cd}
.tg .tg-es88{background-color:#cfcfcf}
