<!DOCTYPE html>
<html>
  <head>
    <title>iPMO</title>
    <link href="<%= Rails.root.join('public','application.css') %>" rel="/stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
       <ul>
        <li><a href="/">Guide</a></li>
        <li><a href="/details/PRJ">processes & templates</a></li>
        <li><a href="/upload">upload a document</a></li>
        <li><a href="/list">list all projects</a></li>
       </ul>
      </nav>
      <main class="main_text">
        <hr />
        <%= yield %>
        <hr />
      </main>
    </section>
  </body>
</html>
