<!DOCTYPE html>
<html>
  <head>
    <title>iPMO</title>
    <link href="<%= Rails.root.join('public','application.css') %>" rel="/stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
      <nav class="top_nav">
       <a href="/">Processes & Templates</a>&nbsp;|&nbsp;
       <a href="/themes">Themes</a>&nbsp;|&nbsp;
       <a href="/details/PRJ#TOC-The-seven-principles">Principles</a>&nbsp;|&nbsp;
       <a href="/list">List Projects</a>&nbsp;|&nbsp;
       <a href="/upload">Upload a Document</a>&nbsp;|&nbsp;
       <a href="/glossar">PRINCE2 2017 Glossar</a>&nbsp;&nbsp;&nbsp;&nbsp
	   <img style="float: right; border:1px double black" src="/public/hukombi_bwb.jpg"/>
      </nav>	  
    </header>
    <hr />
    <article>
     <section class="dynamic_content">
      <main class="main_text">
        <%= yield %>
      </main>
     </section>
     <section class="fixed_content">
       <% @fixcontent = @params['fixcontent'] %>
       <% Rails.logger.info "######## fixcontent ====== #{@fixcontent}" %>
      <% if @fixcontent != nil %>
        <% then %>
       <%= render(:erb,:"#{@fixcontent}") %>
     <% else %>
     <% end %>
     </section>
    </article>
    <br />
    <hr />
    <br />
    <footer>
      iPMO&copy; was written by Thomas Krueger <a href="mailto:thomas.krueger@cms.hu-berlin.de">thomas.krueger@cms.hu-berlin.de</a> under <a href="https://en.wikipedia.org/wiki/GNU_General_Public_License">GNU General Public License</a>
    </footer>
    <br />
  </body>
</html>
