<!DOCTYPE html>
<% # Rails.root.join('app/assets/stylesheets','application.css') %>
<html>
<style type="text/css">
<% case ENV['RAILS_ENV'] %>
 <% when "development" %>
   body { background: white; }
   * { color: black; }
 <% when 'production' %>
   body { background: red; }
   * { color: white; }
 <% else %>
   body { background: gren; }
      * { color: black; }
<% end %>
</style>
  <head>
    <title>iPMO</title>
    <link href="<%= Rails.root.join('public','application.css') %>" rel="/stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/upload">document upload</a></li>
        <li><a href="/list">project list</a></li>
       </ul>
      </nav>
      <main class="main_text">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
