<table id="sites-chrome-main" class="sites-layout-hbox" cellspacing="0" cellpadding="{scmCellpadding}" border="0">
<tbody><tr>
<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Business Case (BC)</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-The-purpose-of-the-Business-Case-theme"></a>The purpose of the Business Case theme</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Business Case theme is to establish mechanisms to judge whether the project is (and remains) desirable, viable and achievable as a means to support decision making in its (continued) investment.</code><code>&nbsp;</code></div>
<div></div>
</div>
<br>
<div>Throughout the project it should be remembered that the project is a means to an end - not an end in itself. The Business Case for the project must be reviewed whenever a change becomes apparent to decide if the project is still viable and worthwhile.</div>
<div><br>
</div>
<div>The <a href="/themes/organisation">Senior User(s)</a>&nbsp;is responsible for specifying the intended benefits and the <a href="/themes/organisation">Executive</a>&nbsp;is responsible for deciding if those intended benefits represent value for money for the organisation.&nbsp;The Project Manager does not decide if the project is still viable it is done by the <a href="/themes/organisation">Project Board</a> at each key decision point such as end-stage assessments.</div>
<div><br>
</div>
<h2><a name="TOC-How-the-Business-Case-theme-supports-the-continued-business-justification-principle"></a>How the Business Case theme supports the continued business justification principle</h2>
<img alt="Business Case and Benefits Review Plan timeline" border="0" src="/public/BC_BRP.png" style="float:right;margin:30px 5px 10px 5px;max-width:60%">
<div>The <a href="/#TOC-CONTINUED-BUSINESS-JUSTIFICATION">business justification principle</a> is one of the seven principles which must be taken into account when managing every project.</div>
<div><br>
</div>
<div>The Business Case is either created or modified (from a programme case) at the initiation of the project and needs to <b>contain enough information</b> to permit judgement to be made as to the continuing viability of the project and <b>be modified as the project progresses</b>.</div>
<div><br>
</div>
<div>Develop &gt; Verify &gt; Maintain &gt; Confirm (confirm is mostly post project).</div>
<div><br>
</div>
<h2><a name="TOC-The-difference-between-an-output-an-outcome-and-a-benefit"></a>The difference between an output, an outcome and a benefit</h2>
<div>
<ul><li>An <b>output</b> is a project deliverable; a product, if you like, of the project - the computer system is changed to specification, for example</li>
<li>An <b>outcome</b> is the result of what an output facilitates - the orders are processes automatically, for example</li>
<li>A <b>benefit</b> is a difference made which is seen as advantageous to the organisation/business commissioning the project - example it saves money or conforms to legislation. It is important to note that this needs to be quantified otherwise it cannot be truly assessed as an improvement.</li></ul>
<br>
</div>
<div><b>It is important not to lose sight of the intended outcomes and benefits when considering project outputs.</b></div>
<div><br>
</div>
<h2><a name="TOC-The-purpose-of-a-Business-Case-and-a-Benefits-Review-Plan"></a>The purpose of a Business Case and a Benefits Review Plan</h2>
<img alt="Business Case and Benefits Review Plan timeline" border="0" src="/public/BC_BRP.png" style="float:right;margin:30px 5px 10px 5px;max-width:60%">
<div>The purpose of a Business Case is to <b>present information</b> from which the <b>viability</b> of the project can be ascertained. It should include <b>how</b> and <b>when</b> benefits can be <b>measured</b>.</div>
<div><br>
</div>
<div>The outline Business Case can be used to <b>gain initial funding</b> for a project. The options of doing something else or doing nothing at all are all on the table and should be weighed up against the costs of the project. This is not, however, the job of the Project Manager. The Business Case should include information to enable these decisions to be made.</div>
<div><br>
</div>
<div>The Business Case <b>drives all decision making</b> by ensuring that the project remains justified. It is used in the Controlling a Process stage when assessing impacts and risks.</div>
<div><br>
</div>
<div>The <a href="/themes/organisation">Executive</a>&nbsp;(normally) is responsible for the Business Case (but will probably delegate the actual development). To include all the required details to sufficient detail is an <b>iterative process</b> requiring inputs in more detail as understanding of feasibility, desirability and accrued benefits increase. The Executive therefore also needs to review whether the benefits have been or are expected to be achieved by a <b>Benefits Review Plan</b>.</div>
<div><br>
</div>
<div>The Business Case specifies benefits and the Benefits Review Plan is to put in place procedures and/or events to assess if the benefits are being or were or are likely to be realised.</div>
<div><br>
</div>
<h2><a name="TOC-The-recommended-composition-of-a-Business-Case"></a>The recommended composition of a Business Case</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The Business Case should describe the reasons for the project based on estimated costs, risks and expected benefits.</code></div>
<div></div>
</div>
<br>
<div>
<ul><li>An executive summary</li>
<li>Reasons</li>
<li>Business options</li>
<li>Expected benefits</li>
<li>Expected dis-benefits</li>
<li>Timescale</li>
<li>Costs</li>
<li>Investment appraisal</li>
<li>Major risks.</li></ul>
<h3><a name="TOC-EXECUTIVE-SUMMARY"></a>EXECUTIVE SUMMARY</h3>
</div>
<div>Highlights key points including important benefits ans return on investment (ROI).</div>
<div><br>
</div>
<h3><a name="TOC-REASONS"></a>REASONS</h3>
<div>The reasons - "We need to comply with legislation and so intend to change the computer system", "we need to cut costs and so we intend to re-formulate the product".</div>
<div><br>
</div>
<h3><a name="TOC-BUSINESS-OPTIONS"></a>BUSINESS OPTIONS</h3>
<div>Business analysis and reasoned recommendation for the <i>do nothing</i>, <i>do the minimum</i> and <i>do something</i> base options.</div>
<div><br>
</div>
<div>It should then present a recommendation for this project - a case formulated by a business analyst as to why it should be chosen over other options making reference to the other sections. It is this recommendation and analysis which should be revisited as the project progresses to see if it still holds water.</div>
<div><br>
</div>
<h3><a name="TOC-EXPECTED-BENEFITS"></a>EXPECTED BENEFITS</h3>
<div>
<ul><li>Measurable terms including how and when benefits can be measured</li>
<li>Expressed in terms comparing to the as-is situation prior to commencement of the project</li>
<li>Qualitative and quantitative</li>
<li>Aligned to corporate or programme benefits</li>
<li>Tolerances should be set for each benefit</li></ul>
Make sure everything is <b>tangible</b> and <b>quantified</b>. For example happier staff will lead to between 10 and 20 percent less absenteeism and 30 percent less staff turnover leading to cost savings of GBP20,000 per annum starting six months after the introduction of the new staff canteen on an ongoing basis for the foreseeable future.<br>
<h3><a name="TOC-EXPECTED-DIS-BENEFITS"></a>EXPECTED DIS-BENEFITS</h3>
</div>
<div>Dis-benefits are actual consequences perceived by some stakeholders as being negative.</div>
<div>A dis-benefit may be temporary or a more persistent negative outcome of the project.</div>
<div><br>
</div>
<h3><a name="TOC-TIMESCALE"></a>TIMESCALE</h3>
<div>
<ul><li>Over which the project will run</li>
<li>Over which the benefits will be realised.</li></ul>
<div>These should include:</div>
<div>
<ul><li>Over what period project costs will be incurred</li>
<li>Over what period the cost/benefit analysis (business options and investment appraisal) is or will be based</li>
<li>When the organisation can accrue benefits</li>
<li>What the earliest and latest feasible start dates are</li>
<li>What the earliest and latest feasible completion dates are</li></ul>
</div>
<h3><a name="TOC-COSTS"></a>COSTS</h3>
</div>
<div>
<ul><li>A summary of project costs</li>
<li>Ongoing operations and maintenance costs</li>
<li>Funding arrangements.</li></ul>
<br>
<h3><a name="TOC-INVESTMENT-APPRAISAL"></a>INVESTMENT APPRAISAL</h3>
</div>
<div>
<ul><li>Defines the value of the project as an investment</li>
<li>Address how the project will be funded.</li></ul>
<div>This should include all costs not just those within the project period and/or allocated to the project but associated costs and on-going running costs and how they might change as well as finance costs and depreciation.</div>
</div>
<h3><a name="TOC-MAJOR-RISKS"></a>MAJOR RISKS</h3>
<div>Summary of risks together with likelihood of occurrence and contingency action (risk assessment).</div>
<div><br>
</div>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:60px">&nbsp;Risk ID</td>
<td style="width:60px">Risk&nbsp;</td>
<td style="width:60px">&nbsp;Likelihood</td>
<td style="width:60px">&nbsp;Impact</td>
<td style="width:60px">&nbsp;Contingency</td>
</tr>
<tr>
<td style="width:60px">&nbsp;1</td>
<td style="width:60px">The weather may delay the project if it rains an unexpected amount</td>
<td style="width:60px">&nbsp;30%</td>
<td style="width:60px">Increased costs and project overrun causing customer inconvenience.</td>
<td style="width:60px">Staff can be re-deployed.&nbsp;<br>
<br>
Opening day re-scheduled and apologies sent out to customers.</td>
</tr>
</tbody>
</table>
