<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Change (CH)</span>
</h3>
  <tbody>
    <tr>
      <td class="sites-layout-tile sites-tile-name-content-1">
        <div dir="ltr">
          <h2><a name="TOC-The-three-types-of-issue"></a>The three types of issue</h2>
          <div>
            <table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
              <tbody>
                <tr>
                  <td style="width:112px;height:18px"><b>Request for change</b></td>
                  <td style="width:531px;height:18px">&nbsp;A proposal to a change to a BASELINED item</td>
                </tr>
                <tr>
                  <td style="width:112px;height:18px"><b>Off-specification</b></td>
                  <td style="width:531px;height:18px">&nbsp;A notice that something is not being produced to specification.</td>
                </tr>
                <tr>
                  <td style="width:112px;height:18px"><b>Problem/concern</b></td>
                  <td style="width:531px;height:18px">&nbsp;Any other issue the PM needs to resolve or escalate. Could lead to a change request.</td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
          <div><br>
          </div>
          <div><br>
          </div>
          <h2><a name="TOC-The-purpose-of-the-Change-theme"></a>The purpose of the Change theme</h2>
          <div></div>
          <div class="sites-codeblock sites-codesnippet-block">
            <div><code>The purpose of the Change theme is to identify, assess and control any potential and approved changes to the baseline.</code></div>
            <div></div>
          </div>
          <br>
          <div><br>
          </div>
          <h2><a name="TOC-The-purpose-of-the-change-budget-and-the-Change-Authority"></a>The purpose of the change budget and the Change Authority</h2>
          <h3><a name="TOC-CHANGE-BUDGET"></a>CHANGE BUDGET</h3>
          <div>The change budget is agreed between supplier and customer as to how much can be spent on requests for change. These take up analysis time and development time etc and so can't be allowed to go uncontrolled.</div>
          <div><br>
          </div>
          <div><br>
          </div>
          <h3><a name="TOC-CHANGE-AUTHORITY"></a>CHANGE AUTHORITY</h3>
          <div>The Change Authority (delegated by the Project Board) has the power to approve/reject requests for change on behalf of the Project Board for categories of change as authorised by the Project Board and documented in the <a href="/details/PRJ/2">Configuration Management Strategy</a>.</div>
          <div><br>
          </div>
          <h2><a name="TOC-The-purpose-and-recommended-composition-of-an-Issue-Report"></a>The purpose and recommended composition of an Issue Report</h2>
          An Issue Report is a document containing information about the issue (below) if it needs to be dealt with<b> formally </b>(request for change or an issue which exceeds tolerance). Created when issue first raised then added to as it is analysed, prioritised, approved or whatever.<div><br></div><div>Includes (not exhaustive) Description, type, priority, analysis and recommendation, who raised it and who wrote the report.&nbsp;<span style="background-color:transparent;font-size:1em;line-height:1.5">&nbsp;</span><span style="font-size:1em;line-height:1.5;background-color:rgb(255,255,0)">Don't forget <b>dates</b> that everything happened.</span></div><div><br></div><div><span style="color:rgb(88,63,111);font-family:Palatino,Palatino Linotype,serif;font-size:1.8em;background-color:transparent;line-height:1.5">The purpose and recommended composition of the Issue Register</span></div><div><div>The Issue Register is a list of all the issues and their status. <span style="background-color:rgb(255,255,0)">Don't forget <b>dates</b> that everything happened.</span></div><div><br></div><div><br></div><h2><a name="TOC-The-purpose-of-the-Configuration-Management-Strategy"></a>The purpose of the Configuration Management Strategy</h2><div>The <a href="/details/PRJ/2">Configuration Management Strategy</a>&nbsp;covers where and how products (baselined management products and actual products) are stored/protected&nbsp;and who can alter them and who can authorise alterations to them. Also what attributes and attribute values should be used to distinguish/categorise them and their status.</div></div><div><br></div><div><br></div><h2><a name="TOC-The-purpose-of-a-Configuration-Item-Record"></a>The purpose of a Configuration Item Record</h2><div>A record (say in a table or spreadsheet called the library) of the status, type etc of a configuration item (a baselined product of some kind). It contains the location of that product so, if it were some source code then that would be the version control system and id/name of the item it it. It also contains cross-references to related things which would be affected by a change to this item. It contains many fields very project related such as 'stage' which suggest that this record is for project purposes and the location is the real post project version control/config mgmt.</div><div><br></div><div><br></div><h2><a name="TOC-The-purpose-of-a-Product-Status-Account"></a>The purpose of a Product Status Account</h2><div>This is a report on the project configuration items showing their status and other attributes on the (project) Configuration Item Record. This can be filtered on whatever and displayed in different formats which should be specified in the <a href="/details/PRJ/2">Configuration Management Strategy</a>.</div><div><br></div><div><br></div><h2><a name="TOC-How-the-Change-theme-supports-the-management-by-exception-principle"></a>How the Change theme supports the management by exception principle</h2><div>The Configuration Management Strategy defines how severity will be assessed and what the scales are. These are for configuration (baselined) items. It also defines what scale of severity will be handled by what role.</div><div><br></div><div>So, up to certain tolerances there is no need to escalate - this can be ascertained by following the guidance in the CMS. Above that escalate as defined in the CMS. This will mean an Exception Report.</div><div><br></div><h2><a name="TOC-The-issue-and-change-control-procedure"></a>The issue and change control procedure</h2><h3><a name="TOC-1.-CAPTURE"></a>1. CAPTURE</h3><div>Issue raised, if minor daily log and deal with it. Not minor ask raiser to fill in an Issue Report and enter onto Issue Register.</div><div><br></div><h3><a name="TOC-2.-EXAMINE"></a>
            2. EXAMINE</h3><div>Do impact analysis - this is from the <a href="/themes/rk">risk theme</a> and how will this issue might affect the six aspects. Update the priority on the Issue Register and impact analysis on the Issue Report and inform the raiser of status.&nbsp;</div><div><br></div><div>A risk might be added to the <a href="/details/PRJ/2">Risk Register</a> if it seems appropriate as per the <a href="/details/PRJ/2">Risk Management Strategy</a>.</div><div><br></div>
          <h3><a name="TOC-3.-PROPOSE"></a>3. PROPOSE</h3><div>What are the options for dealing with this issue. Fill in the recommendations attribute of the Issue Report</div><div><br></div><h3><a name="TOC-4.-DECIDE"></a>4. DECIDE</h3><div>If it exceeds tolerance then raise an exception report and send the issue report and exception report to the escalation point as per the Change Management Strategy. The Change Authority or Project Board.</div><div><br></div><div>If it does not exceed tolerance then carry out the proposed action but it still must be recorded in the Issue Register.</div><div><br></div><h3><a name="TOC-5.-IMPLEMENT"></a>5. IMPLEMENT</h3><div>Take the required action. Update the Issue Register and Issue Report and inform interested parties. The issue should be closed and interested parties informed if the <a href="/details/PRJ/2">Configuration Management Strategy</a> procedure says that it can be closed.</div></div></td></tr></tbody></table>
