<!-- Stylesheet //-->
<style type="text/css">
.tg  {border-style:solid; border-collapse:collapse;border-spacing:0;width:100%;height:100%}
.tgh  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tgb  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tgf  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial
  sans-serif;font-size:14px;overflow:hidden;
     padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial,
       sans-serif;font-size:14px;font-weight:normal;
          overflow:hidden;padding:10px 5px;word-break:normal;} .tg .tg-0cjc{background-color:#67fd9a;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-kusv{background-color:#fffe65;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-y698{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top;writing-mode:vertical-rl;text-orientation:upright}
.tg
.tg-ik58{background-color:#ffcb2f;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-7dw8{background-color:#38fff8;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<!-- ruby helper //-->
<% Document.default_data_frame %>
<% if !params['project_name'].nil? %>
  <h1><%= "PRINCE2 Process Details View for #{params['project_name']} " %></h1>
<% else %>
  <h1><%= "Welcome to the interactive Project Management guide !" %></h1>
<% end %>

<!-- Table //-->
<table class="tg" >
<col>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<thead class="tgh">
 <tr>
  <td rowspan="4"</td>
  <th colspan="4" scope="colgroup">Project stages</th>
 </tr>
 <tr>
  <th class="tg-kusv">Pre-Project Stage (0.y)</th>
  <th class="tg-0cjc">Initiation Stage (1.y)</th>
  <th class="tg-ik58">Subsequent Delivery Stage (2.y)</th>
  <th class="tg-7dw8">Final Delivery Stage (4.y)</th>
 </tr>
</thead>
<tbody class="tgb">
  <tr>
   <th scope="row" class="tg-y698">Corporate (x.0)</th>
   <td class="tg-0pky"><%= data_frame['Pre'] %></td>
   <td class="tg-0pky">1.0.z</td>
   <td class="tg-0pky">2.0.z</td>
   <td class="tg-0pky">3.0.z</td>
  </tr>
  <tr>
   <th scope="row" class="tg-y698">Direction (x.1)</th>
   <td class="tg-0pky">0.1.z </td>
   <td class="tg-0pky">1.1.z</td>
   <td class="tg-0pky">2.1.z</td>
   <td class="tg-0pky">3.1.z</td>
   </tr>
   <tr>
    <th scope class="tg-y698">Management (x.2)</th>
    <td class="tg-0pky">0.2.z </td>
    <td class="tg-0pky">1.2.z</td>
    <td class="tg-0pky">2.2.z</td>
    <td class="tg-0pky">3.2.z</td>
   </tr>
   <tr>
    <th scope="row" class="tg-y698">Delivery (x.3)</th>
    <td class="tg-0pky">0.3.z </td>
    <td class="tg-0pky">1.3.z</td>
    <td class="tg-0pky">2.3.z</td>
    <td class="tg-0pky">3.3.z</td>
   </tr>
 </tbody>
 <tfoot class="tgf">
  <tr>
   <th>Version (x.y.z):</th>
   <td colspan=4>x = Stage #; y = Hierachie Level #; z = Document #</td>
  </tr>
  <tr>
   <th>Example</th>
   <td colspan="4">0.0.1 = 1´st delivery (document) from Pre-Project Stage on Corporate Level
  </tr>
 </tfoot>
 </table>
