<h1>List of all projects</h1>
<% @pHash = Hash.new %>
<% Document.select('*').group('id,project_name').find_each{|d| @pHash.store(d.read_attribute(:project_name),d.read_attribute(:pm_standard))} %>
<% @pHash.each do |key, value| %>
  <% if key != nil then %>
    <% @link= '/details/'.concat(key) %>
  <% else next %>
  <% end %>
  <ul>
    <li>
    <a href='<%= @link %>'>
      <%= key %>
    </a>
    </li>
    <li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= value %>
   </li>
   </ul>
 <% end %>
