<div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs" style="">
<a href="/themes" dir="ltr">Themes</a>‎ &gt; ‎
  </div>
<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Organisation (OR)</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-The-defined-roles-within-the-Organisation-theme"></a>The defined roles within the Organisation theme</h2>
<div>
<ul><li>Project Board</li>
<li>Executive</li>
<li>Senior User</li>
<li>Senior Supplier</li>
<li>Project Manager</li>
<li>Team Manager</li>
<li>Project Assurance</li>
<li>Change Authority</li>
<li>Project Support</li></ul>
<br>
</div>
<h2><a name="TOC-The-purpose-of-the-Organisation-theme"></a>The purpose of the Organisation theme</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Organisation theme is to define and establish the project's structure of accountability and responsibilities (the who).</code></div>
<div></div>
</div>
<br>
<div>The defined organisational structure should enable effective <b>governance and decision making</b>.</div>
<div><br>
</div>
<div>The structure should:</div>
<div>
<ul><li>Have Business, User and Supplier stakeholder representation</li>
<li>Enable governance to be achieved by defining responsibilities for <b>directing</b>, <b>managing</b> and <b>delivering</b> the project and accountability at each level</li>
<li>Be reviewed throughout the project to ensure that it remains effective</li>
<li>Define responsibilities and strategy for communication with stakeholders (employees, protesters etc).</li></ul>
<span style="background-color:transparent;font-size:1em;line-height:1.5">&nbsp;</span></div>
<h2><a name="TOC-How-the-Organisation-theme-supports-the-defined-roles-and-responsibilities-principle"></a>How the Organisation theme supports the defined roles and responsibilities principle</h2>
<div>The defined roles and responsibilities principle is stated on the <a href="/">Overview page</a>.</div>
<div><br>
</div>
<div>The Organisation theme:</div>
<div>
<ul><li>Defines <b>roles</b> and each role has <b>responsibilities</b></li>
<li>Roles and responsibilities are agreed with the appropriate level within the hierarchy</li>
<li>The three primary stakeholder interests <b>Business (Executive)</b>, <b>User (Senior User(s))</b> and <b>Supplier (Senior Supplier(s))&nbsp;</b>form the Project Board in the Organisation theme</li></ul>
<br>
</div>
<h2><a name="TOC-In-which-process-es-the-Organisation-theme-is-applied-and-which-roles-are-responsible"></a>In which process(es) the Organisation theme is applied and which roles are responsible</h2>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:162px;height:51px"><b>&nbsp;Process</b></td>
<td style="width:384px;height:51px">&nbsp;<b>How theme is applied</b></td>
<td style="width:382px;height:51px"><b>By which Role</b></td>
</tr>
<tr>
<td style="width:162px;height:49px">&nbsp;Starting up a Project</td>
<td style="width:384px;height:49px">&nbsp;Appoint the Executive</td>
<td style="width:382px;height:49px">Corporate/programme management</td>
</tr>
<tr>
<td style="width:162px;height:36px">&nbsp;Starting up a Project</td>
<td style="width:384px;height:36px">&nbsp;Appoint the Project Manager</td>
<td style="width:382px;height:36px">Corporate/programme management OR Executive</td>
</tr>
<tr>
<td style="width:162px;height:37px">&nbsp;Starting up a project</td>
<td style="width:384px;height:37px">&nbsp;Create project management team role descriptions</td>
<td style="width:382px;height:37px">Producer: Project Manager<br>
Approver: Executive</td>
</tr>
<tr>
<td style="width:162px;height:55px">&nbsp;Starting up a Project</td>
<td style="width:384px;height:55px">&nbsp;Appoint project management team</td>
<td style="width:382px;height:55px">Producer: Executive<br>
Approver: Corporate/programme management</td>
</tr>
<tr>
<td style="width:162px;height:56px">&nbsp;Initiating a Project</td>
<td style="width:384px;height:56px">&nbsp;Update the project management structure</td>
<td style="width:382px;height:56px">Producer: Project Manager<br>
Approver: Project Board<br>
Reviewer: Project Assurance</td>
</tr>
<tr>
<td style="width:162px;height:56px">&nbsp;Initiating a Project</td>
<td style="width:384px;height:56px">&nbsp;Create the Communication Management Strategy</td>
<td style="width:382px;height:56px">Producer: Project Manager<br>
Approver: Project Board<br>
Reviewer: Project Assurance</td>
</tr>
</tbody>
</table>
<br>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:178px;height:18px"><b>&nbsp;Process</b></td>
<td style="width:760px;height:18px"><b>&nbsp;Roles</b></td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Directing a Project</td>
<td style="width:760px;height:36px">Corporate/Programme, Executive, Senior User, Senior Supplier, Project Manager, Project Assurance</td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Starting up a Project</td>
<td style="width:760px;height:36px">Corporate/Programme, Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="background-color:transparent;font-size:1em;line-height:1.5">Project Manager, Team Manager,&nbsp;</span>Project Assurance<span style="background-color:transparent;font-size:1em;line-height:1.5">&nbsp;</span></td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Initiating a Project</td>
<td style="width:760px;height:36px">Corporate/Programme, Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Manager, </span>Project Assurance, Project Support</td>
</tr>
<tr>
<td style="width:178px;height:37px">&nbsp;Managing a Stage Boundary</td>
<td style="width:760px;height:37px">Corporate/Programme,&nbsp;Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Manager,&nbsp;</span>Team Manager,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Assurance, Project Support</span></td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Controlling a Stage</td>
<td style="width:760px;height:36px">Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Manager,&nbsp;</span>Team Manager,&nbsp;<span style="background-color:transparent;font-size:1em;line-height:1.5">Project Assurance, Project Support</span></td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Managing Product Delivery</td>
<td style="width:760px;height:36px">Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Manager,&nbsp;</span>Team Manager,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Assurance, Project Support</span></td>
</tr>
<tr>
<td style="width:178px;height:36px">&nbsp;Closing a Project</td>
<td style="width:760px;height:36px">Corporate/Programme,&nbsp;Executive,&nbsp;Senior User, Senior Supplier,&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Manager,</span>&nbsp;<span style="font-size:1em;line-height:1.5;background-color:transparent">Project Assurance, Project Support</span></td>
</tr>
</tbody>
</table>
<br>
Organisation is applied to <b>every</b>&nbsp;process however the processes most associated are <b>Starting up a project</b> and <b>Initiating a Project</b>:</div>
<div>
<ul><li>Corporate/programme appoints the Executive</li>
<li>The Executive appoints the Project Manager (if not done above)</li>
<li>The Executive appoints the Senior User(s), senior Supplier(s), Project Assurance</li>
<li>Project Manager prepares role descriptions and revises/updates team structure</li>
<li>Project Assurance advises on appointment of team members</li></ul>
<div><br>
</div>
</div>
<h2><a name="TOC-The-three-project-interests-and-how-these-are-represented-within-the-three-levels-of-the-project-management-team-structure"></a>The three project interests and how these are represented within the three levels of the project management team structure</h2>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:215px;height:18px">&nbsp;</td>
<td style="width:125px;height:18px">&nbsp;Business</td>
<td style="width:136px;height:18px">&nbsp;User</td>
<td style="width:442px;height:18px">&nbsp;Supplier</td>
</tr>
<tr>
<td style="width:215px;height:42px">&nbsp;Directing - Project Board</td>
<td style="width:125px;height:42px">&nbsp;Executive</td>
<td style="width:136px;height:42px">&nbsp;Senior User(s)</td>
<td style="width:442px;height:42px">&nbsp;Senior Supplier(s)</td>
</tr>
<tr>
<td style="width:215px;height:18px">&nbsp;Managing - Project Manager</td>
<td style="width:125px;height:18px">&nbsp;?</td>
<td style="width:136px;height:18px">&nbsp;?</td>
<td style="width:442px;height:18px">&nbsp;?</td>
</tr>
<tr>
<td style="width:215px;height:18px">&nbsp;Delivering - Team Manager</td>
<td style="width:125px;height:18px">&nbsp;?</td>
<td style="width:136px;height:18px">&nbsp;?</td>
<td style="width:442px;height:18px">&nbsp;?</td>
</tr>
</tbody>
</table>
<br>
</div>
<div><br>
</div>
<h2><a name="TOC-How-the-four-levels-of-the-project-management-structure-apply-to-the-process-model"></a>How the four levels of the project management structure apply to the process model</h2>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:146px;height:36px">&nbsp;Corporate/programme</td>
<td style="width:792px;height:36px">Supply the Project Mandate to the Starting up a Project process and give corporate advice to the Directing a Project process</td>
</tr>
<tr>
<td style="width:146px;height:18px">&nbsp;Directing</td>
<td style="width:792px;height:18px">Starting up a Project, Directing a Project</td>
</tr>
<tr>
<td style="width:146px;height:36px">&nbsp;Managing</td>
<td style="width:792px;height:36px">Starting up a Project, Initiating a Project, Managing a Stage Boundary, Controlling a Stage, Closing a Project</td>
</tr>
<tr>
<td style="width:146px;height:18px">&nbsp;Delivering</td>
<td style="width:792px;height:18px">Managing Product Delivery</td>
</tr>
</tbody>
</table>
<br>
</div>
<div>Within each process will be products (reports etc) to be produced. Responsibilities are assigned (Producer, Reviewer, Approver) to roles within the four levels so that work is approved by the appropriate level up. Project Assurance checks that this is being done.</div>
<div><a name="tpb"></a><br>
</div>
<h2><a name="TOC-The-role-of-the:"></a>The role of the:</h2>
<h3><a name="TOC-PROJECT-BOARD"></a>PROJECT BOARD</h3>
<div>
<ul><li>Accountable to corporate/programme management for the success/failure of the project</li>
<li>Responsible for communication to external stakeholders</li>
<li>Project Assurance - sometimes delegated</li>
<li>Approval of Plans, Product Descriptions</li>
<li>Authorisation of commencements</li>
<li>Approve changes (unless a dedicated change authority in place)</li>
<li>Set tolerances for the six management aspects</li>
<li>Make decisions on escalated issues</li>
<li>Authorise project closure</li></ul><div>The Project Board comprises the Senior User(s), the Executive and the Senior Supplier(s) but it is not a democracy the ultimate decision is with the Executive.</div>
<div><span style="color:rgb(88,63,111);font-family:Palatino,Palatino Linotype,serif;font-size:1.5em;background-color:transparent;line-height:1.5"><br>
</span></div>
<div><span style="color:rgb(88,63,111);font-family:Palatino,Palatino Linotype,serif;font-size:1.5em;background-color:transparent;line-height:1.5">PROJECT MANAGER</span></div>
</div>
<div>
<ul><li><span style="background-color:transparent;font-size:1em;line-height:1.5">To run the project in a day-to-day basis and to ensure that the project produces the required products within the specified tolerances (the six management aspects) set by the Project Board.</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">To produce reports and plans</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">To manage information flows between the Directing and Delivering levels</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">Authorise Work Packages</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">Advise the Project Board of any deviances from the tolerances set forecast or actual</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">Implement and enforce the Configuration Management Strategy</span></li></ul>
<h3><a name="TOC-1"></a><br>
</h3>
<h3><a name="TOC-PROJECT-ASSURANCE"></a>PROJECT ASSURANCE</h3>
</div>
<div>
<ul><li>To monitor all aspects of the project independently of the Project Manager. This necessitates involvement with all processes.</li>
<li>To monitor the project with regard to primary interests Business, User and Supplier and to report to corresponding Project Board roles.</li>
<li>Monitoring involves checking the right people, methods, standards, procedures are being used for this project.</li>
<li><b>Business</b>: check the project remains desirable from a business perspective and provide guidance</li>
<li><b>User</b>: ensure that the project continues to meet User requirements and that procedures are in place to ensure it is</li>
<li><b>Supplier</b>: review the Product Descriptions and ensure quality procedures are adequate and enforced to produce the required products.</li></ul>
<div><br>
</div>
</div>
<h3><a name="TOC-CHANGE-AUTHORITY"></a>CHANGE AUTHORITY</h3>
<div>The Configuration Management Strategy must define levels of severity for requests for change (set by the Project Board). For some levels of severity a dedicated Change Authority may be specified to authorise the request for change. The role of the Change Authority is to assess and approve or reject the request or escalate if necessary.</div>
<div><br>
</div>
<h3><a name="TOC-TEAM-MANAGER"></a>TEAM MANAGER</h3>
<div>
<ul><li>Team Manager(s) report to and take instruction from the Project Manager.</li>
<li>Plan, monitor and report on the team's work including any issues and deviations from tolerances.</li></ul>
<br>
</div>
<h3><a name="TOC-PROJECT-SUPPORT"></a>PROJECT SUPPORT</h3>
<div>
<ul><li>Set up project folders and general administration</li>
<li>Advise on tools</li>
<li>Distribute reports</li>
<li>Update logs etc</li>
<li>Whatever else needs doing to assist the PM</li></ul>
<h2><a name="TOC-The-difference-between-project-stakeholders-and-project-decision-makers"></a>The difference between project stakeholders and project decision makers</h2>
</div>
<div>Project stakeholders are organisations, groups or individuals with an interest in the outcome(s) of the project. They will be formally recognised in the Communication Management Strategy. Only some stakeholders will be decision makers notably Business, User and Supplier interests.</div>
<div><br>
</div>
<div>All stakeholders have the potential to affect the success of a project &nbsp;(by delay etc).</div>
<div><br>
</div>
<h2><a name="TOC-The-purpose-of-the-Communication-Management-Strategy"></a>The purpose of the Communication Management Strategy</h2>
<div>The Communication Management Strategy contains a description of the <b>means</b> and <b>frequency</b> of communication to and from (bi-directional) parties both <b>internal</b> and <b>external</b> to the project.</div>
<div><br>
</div>
<div>The CMS is documented by the Project Manager during Initiating a Project and at each stage boundary and approved by the Executive.</div></div></td></tr></tbody></table>
</td> 
</tr>
</tbody></table>
