<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Progress (PG)</span>
</h3>
<tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-Event-driven-and-time-driven-controls"></a>Event-driven and time-driven controls</h2>
<div><b>Event-driven controls</b> happen when something specific happens, say the creation of an Exception Report. Event based controls mean a decision has to be made.</div>
<div><br>
</div>
<div><b>Time-driven controls</b> are predefined and normal such as Highlight Reports and Checklist Reports. Interesting though they may be chances are nothing changes much - just a confirmation that all is well. It is an opportunity to check that these controls are indeed in place though and assurance is the name of the game.</div>
<div><br>
</div>
<h2><a name="TOC-Reporting-channels-between-the-levels-of-management"></a>Reporting channels between the levels of management</h2>
<div>Team Manager <span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>Checkpoint Reports ---&gt; Project Manager</div>
<div>Team Manager<span>&nbsp;&nbsp; &nbsp;<span>&nbsp; &nbsp; &nbsp;Issue &nbsp; ---&gt; Project Manager</span></span></div>
<div><span><span><br>
</span></span></div>
<div>Project Manager<span>&nbsp; &nbsp; &nbsp; Highlight Report ---&gt; Project Board</span></div>
<div><span>Project Manager &nbsp; &nbsp; &nbsp;Issue Report &nbsp;---&gt; Project Board</span></div>
<div><span>Project Manager&nbsp;<span>&nbsp; &nbsp; &nbsp;Exception Report ---&gt; Project Board</span></span></div><div><span><span>Project Manager<span>&nbsp; &nbsp; &nbsp; End Stage Report ---&gt; Project Board</span></span></span></div><div><div>Project Manager&nbsp; &nbsp; &nbsp; End Project Report ---&gt; Project Board</div></div><div><div>Project Manager&nbsp; &nbsp; &nbsp; Lessons Report ---&gt; Project Board</div></div><div><br></div>
<h2><a name="TOC-The-purpose-of-the-Progress-theme"></a><span><span>The purpose of the Progress theme</span></span></h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Progress theme is to establish mechanisms to <b>monitor and compare actual achievements against those planned</b>; provide forecast for the project objectives and the <b>projects continued viability</b>; and control any unacceptable deviations.</code></div>
<div></div>
</div>
<span><span><br>
</span></span>
<div><a name="coms"></a></div>
<h2><a name="TOC-The-concept-of-management-stages"></a><span><span>The concept of management stages</span></span></h2>
<div><span><span>Management stages are the "manage by stages" part of PRINCE2. They are formal, planned, &nbsp;points where the Project Board is informed of progress through an End Stage Report.&nbsp;</span></span></div>
<div><span><span><br>
</span></span></div>
<div><span><span>There are two ways of approaching this:</span></span></div>
<div><span><span><br>
</span></span></div>
<div><span><b>Event driven</b>: Split the products into partial products and assign some partial products (which can be done in parallel or are sequential) to a management stage. It is the completion of these partial products that triggers the end of stage. There will be a tolerance on how long this should be.</span></div>
<div><span><span><br>
</span></span></div>
<div><span>It is also possible to have <b>time-bound</b> end of stages which is an Agile approach where the products would then be MoSCoW and the date of the end of stage fixed at the start of the stage.</span></div>
<div><span><br>
</span></div>
<div><span>The Project Board authorises the start of the next stage after the Managing a Stage Boundary in the Directing a Project process.</span></div>
<div><span><br>
</span></div>
<div><span><br>
</span></div>
<h2><a name="TOC-How-the-Progress-theme-supports-the-principle-of-manage-by-stages"></a><span>How the Progress theme supports the principle of manage by stages</span></h2>
<div><span>See "The concept of management stages" above. See also the <a href="/details/PRJ#TOC-MANAGE-BY-STAGES"> principle of manage by stages</a>.</span></div>
<div><span><span><br>
</span></span></div>
<div><span><span><br>
</span></span></div>
<h2><a name="TOC-How-the-Progress-theme-supports-the-learn-from-experience-principle."></a><span><span>How the Progress theme supports the learn from experience principle.</span></span></h2>
<div><span><span><br>
</span></span></div>
<div><span>See the <a href="/details/PRJ#TOC-LEARN-FROM-EXPERIENCE">learn from experience principle</a>.&nbsp;</span></div>
<div><span><br>
</span></div>
<div><span>All these reports contain reference to or contain lessons learned and kept in the Lessons Log:</span></div>
<div>
<ul><li><span style="background-color:transparent;font-size:1em;line-height:1.5">End Project Report</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">End Stage Report</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">Lessons Report in the Project Initiation Documentation&nbsp;</span></li></ul>
</div>
<div><span><br>
</span></div>
<div>Because of the management by stages lessons learned in a stage can be documented and formally introduced to improve the following stages.</div>
<div><br>
</div>
<div>
<div><a name="pmbe"></a>
</div>
<h2><a name="TOC-How-the-Progress-theme-supports-the-principle-of-manage-by-exception"></a>How the Progress theme supports the principle of manage by exception</h2>
<img alt="Progress by Exception" src="/public/PROGRESS_BY_EXCEPTION.png" style="width:60%;float:right" title="Progress by Exception"><br>
See the <a href="/details/PRJ#TOC-MANAGE-BY-EXCEPTION">manage by exception principle</a>.&nbsp;</div>
<div><br>
</div>
<div>Tolerances are assigned at the project, stage and work package level. Project level tolerances are set out at the Initiating a Project process but can be modified under change control. Stage tolerances are set by the board and documented in the Stage Plan. Work Package tolerances are set by the Project Manager (based on the stage tolerances).</div>
<div><br>
</div>
<div><br>
</div>
<div>Progress is monitored via regular reports and any possibility of exceeding tolerances can be identified and if necessary an exception raised as per the manage by exception principle.</div>
<div><br>
</div>
<div><br>
</div>
<div>Standard progress reports are the Checkpoint Report from Team Manager to Project Manager and the Highlight Report from Project Manager to Project Board as well as the End Stage and End Project Report.</div>
<div><br>
</div>
<div><br>
</div>
<div>Deviations from standard progress are notified by issues from Team Manager to Project Manager and Exception Reports and Issue Reports from project Manager to project Board. The Project Manager may ask the Team Manager to fill an Issue Report.</div>
<div><br>
</div>
<div>
<img alt="Management and Technical Stages in PRINCE2" src="/public/MANGEMENT_AND_TECHNICAL_STAGES.png" style="width:15%;float:right;margin-right:10%;margin-left:10%" title="Management and Technical Stages in PRINCE2">
</div></br>
<div>
<h2><a name="TOC-The-difference-between-technical-and-management-stages"></a>The difference between technical and management stages</h2>
<a href="/details/PRJ#TOC-MANAGE-BY-STAGES">Management stages</a> provide review and decision points and facilitate management by exception as well as manage by stages. The project manager is authorised to manage the next (becomes current) management stage.
</div></br>
<div>Technical stages sit within management stages and can sometimes overlap and often there will be more than one per management stage. &nbsp;Large technical objectives which span management stages should be split up &nbsp;to smaller products that end at management stages. Focus on products means that there should be something completed by the end of stages not just some percentage of work completed.</div>
<div><br>
</div>
</div>
</p>
<h2><a name="TOC-The-factors-to-consider-when-identifying-management-stages"></a>The factors to consider when identifying management stages</h2>
<div>
<ul><li><span style="background-color:transparent;font-size:1em;line-height:1.5">Number of stages</span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5">Length of stages</span></li></ul>
</div>
<h3><a name="TOC-NUMBER-OF-STAGES"></a>NUMBER OF STAGES</h3>
<div>The more management stages the more control is passed to the Project Board to change stage tolerances in the following stages or to stop the project asap. Too many can just be an overhead. Large complex projects will have more management stages because they need to be of a certain maximum duration, a couple of weeks apparently.</div>
<div><br>
</div>
<h3><a name="TOC-LENGTH-OF-STAGES"></a>LENGTH OF STAGES</h3>
<div>The longer the stage the more difficult to see over the <b>planning horizon</b>.</div>
<div><br>
</div>
<div>The end of stages may need to align with <b>corporate programme activities/checkpoints</b>.</div>
<div><br>
</div>
<div>In high risk projects or high risk phases (just a name for a few stages in a row) of projects shorter management stages with fewer deliverables would be a good idea.</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-Tolerance-s-:-where-they-may-be-usefully-applied-in-which-management-products-they-are-documented-and-how-management-by-exception-applies-to-the-different-levels-of-management"></a>Tolerance(s): where they may be usefully applied; in which management products they are documented and how management by exception applies to the different levels of management</h2>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:67px;height:18px">&nbsp;<b style="background-color:rgb(255,255,0)">TOLERANCES</b></td>
<td style="width:138px;height:18px">&nbsp;<b>Time</b></td>
<td style="width:119px;height:18px">&nbsp;<b>Cost</b></td>
<td style="width:117px;height:18px">&nbsp;<b>Scope</b></td>
<td style="width:102px;height:18px">&nbsp;<b>Risk</b></td>
<td style="width:100px;height:18px">&nbsp;<b>Benefits</b></td>
<td style="width:109px;height:18px">&nbsp;<b>Quality</b></td>
</tr>
<tr>
<td style="width:67px;height:18px"><b>Project</b></td>
<td style="width:138px;height:18px">Project Plan (Tolerances)</td>
<td style="width:119px;height:18px">&nbsp;Project Plan (Budgets)</td>
<td style="width:117px;height:18px">Project Plan (Tolerances use MoSCoW if permitted)</td>
<td style="width:102px;height:18px">Risk Management<br>
Strategy&nbsp;</td>
<td style="width:100px;height:18px">&nbsp;Business Case</td>
<td style="width:109px;height:18px">Project Product Description</td>
</tr>
<tr>
<td style="width:67px;height:18px"><b>Stage</b></td>
<td style="width:138px;height:18px">Stage Plan (Tolerances)</td>
<td style="width:119px;height:18px">Stage Plan (Budgets)</td>
<td style="width:117px;height:18px">Project Plan (Tolerances use MoSCoW if permitted)</td>
<td style="width:102px;height:18px">Stage Plan (Tolerances)</td>
<td style="width:100px;height:18px">&nbsp;N/A</td>
<td style="width:109px;height:18px">&nbsp;N/A</td>
</tr>
<tr>
<td style="width:67px;height:37px"><b>Work Package</b></td>
<td style="width:138px;height:37px">Work Package</td>
<td style="width:119px;height:37px">Work Package</td>
<td style="width:117px;height:37px">Work Package (A specific description of the work to be done)</td>
<td style="width:102px;height:37px">Work Package</td>
<td style="width:100px;height:37px">&nbsp;N/A</td>
<td style="width:109px;height:37px">Product Description(s) for Products to be delivered</td>
</tr>
<tr>
<td style="width:67px;height:18px"><b>Product</b></td>
<td style="width:138px;height:18px">N/A</td>
<td style="width:119px;height:18px">&nbsp;N/A</td>
<td style="width:117px;height:18px">N/A</td>
<td style="width:102px;height:18px">N/A</td>
<td style="width:100px;height:18px">&nbsp;N/A</td>
<td style="width:109px;height:18px">Product Description</td>
</tr>
</tbody>
</table>
