<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Plans (PL)</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-Levels-of-plan-recommended-by-PRINCE2"></a>Levels of plan recommended by PRINCE2</h2>
<div>Three levels of plan...</div>
<div>
<ul><li>Project Plan</li>
<li>Stage Plan (Initiation and Stage(s))</li>
<li>Team Plan(s)</li></ul>
<div>
</div>
<p style="text-align:center">
<a name="plan_diag"></a>
<img alt="Showing the three levels of plan - Project Plan, Stage Plans and Team Plans" src="/public/LEVELS_OF_PLAN.png" style="width:98%;margin-left:auto;margin-right:auto" title="Showing the three levels of plan - Project Plan, Stage Plans and Team Plans">
</p>
<div><br>
</div>
<div>From Project Plan to Stage Plan to Team Plan increases details. The summary going up to the higher stage plan.</div>
<div><br>
</div>
<div>As the project progresses successive Stage Plans are drawn up in detail because to do so earlier would probably be a waste of time. Only the summary in the Project Plan is required until then.</div>
<div><br>
</div>
<div>&nbsp;</div>
<h2><a name="TOC-The-steps-in-producing-a-PRINCE2-plan"></a>The steps in producing a PRINCE2 plan</h2>
<div>This is for recall:<img alt="Planning - plan the risks OUT at every stage at least try and see them coming." src="/public/PLAN_ANALYSE_THE_RISKS.png" style="float:right;max-width:50%;height:150px;padding-right:20%">
</div>
<div>
<ul><li>Design the plan</li>
<li>Define and analyse the products</li>
<li>Identify activities and dependencies</li>
<li>Prepare estimates</li>
<li>Prepare the schedule</li>
<li>Document the plan.</li></ul>
</div>
<div><br>
</div>
<h3><a name="TOC-DESIGN-THE-PLAN"></a>DESIGN THE PLAN</h3>
<div>
<ul><li>Does the programme have a standard format for plans?</li>
<li>What tools are available and which would be the best tools to use (word processor, project planning tool, spreadsheet etc)</li>
<li>Think of target audiences for reports, project complexity, expense and standards.</li></ul>
<br>
</div>
<h3><a name="TOC-DEFINE-AND-ANALYSE-THE-PRODUCTS"></a>DEFINE AND ANALYSE THE PRODUCTS</h3>
<h4><a name="TOC-Product-Breakdown-Structure"></a>Product Breakdown Structure</h4>
<div>
<p style="text-align:center"><a name="pbs"></a>
<img alt="Product Breakdown Structure - a structure chart of product" border="0" src="/public/PBS.png" style="width:80%;margin-left:auto;margin-right:auto">
</p>
Sub components can only have one parent - if a wheel product is used on two products then it needs to go up a level. The parts are things which needs to be made as part of that product not just components.
</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<h3><a name="TOC-IDENTIFY-ACTIVITIES-AND-DEPENDENCIES"></a>IDENTIFY ACTIVITIES AND DEPENDENCIES</h3>
<div>Internal and external dependencies should be identified and made distinct from each other. Note that it should could dependencies which stop the products being completed not necessarily from being started in the first place. It should really be broken down further to show that the ressources are there apart from additional ressources and so could start without the dependency.</div>
<div><br>
</div>
<div>Detailed activities and dependencies show how the overview can be expanded upon. This looks more like a schedule but there are no estimates or planned dates etc.</div>
<div><br>
</div>
<div><br>
</div>
<h3><a name="TOC-PREPARE-ESTIMATES"></a>PREPARE ESTIMATES</h3>
<div>
<ol><li>Identify the types of resources required (human, travel, machinery) estimates are required for each</li>
<li>Get resource estimates for each task based on one or more of many techniques</li>
<li>Challenge the estimates</li>
<li>Adapt the estimates based on experience of actual conditions such as productivity lower if only partially on the project due to re-think time etc.</li>
</ol>
<div><br>
</div>
</div>
<h3><a name="TOC-PREPARE-THE-SCHEDULE"></a>PREPARE THE SCHEDULE</h3>
<div>The activity sequence is the optimal activity sequence assuming resources will be available. The activity sequence shows that activities for e.g. could be done in parallel (at the same time) were resources available.</div>
<div><br>
</div>
<div>The resource availability should be assessed and then resources assigned and any levelling or adjustment to activity sequence done. This is shown on the resources sheet (<a href="#">PRJ sourcing structure.xls</a>).</div>
<div><br>
</div>
<div>Define control points and milestones.</div>
<div><br>
</div>
<div><br>
</div>
<div>Once the resources are all in then the total cost (including project management time) can be calculated and fed back into the <a href="/themes/bc">Business Case</a>.
<div><br>
</div>
<div><br>
</div>
<div>Present the schedule nicely such as in MS Project or PIAB Planner&nbsp;<a href="http://www.projectinabox.org.uk/" rel="nofollow">http://www.projectinabox.org.uk</a>&nbsp;.</div>
<div><br>
</div>
<h3><a name="TOC-ANALYSE-THE-RISKS"></a>ANALYSE THE RISKS</h3>
<div><a href="/themes/rk">Risk management procedures</a>.</div>
<div><br>
</div>
<div><br>
</div>
<h3><a name="TOC-DOCUMENT-THE-PLAN"></a>DOCUMENT THE PLAN</h3>
<div>Narratives to explain the plan are required as well as just a Gantt chart.</div>
<div><br>
</div>
<div><a name="pbfs"></a><br>
</div>
<h2><a name="TOC-Four-tasks-of-product-based-planning"></a>Four tasks of product-based planning</h2>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:54px">&nbsp;First</td>
<td style="width:289px">&nbsp;Write the Project Product Description</a></td>
<td style="width:248px">&nbsp;For Project Plan only</td>
</tr>
<tr>
<td style="width:54px;height:18px">&nbsp;Second</td>
<td style="width:289px;height:18px">&nbsp;Create the Product Breakdown Structure</a></td>
<td style="width:248px;height:18px">&nbsp;For all levels of plan</td>
</tr>
<tr>
<td style="width:54px;height:18px">&nbsp;Third</td>
<td style="width:289px;height:18px">&nbsp;Write the Product Descriptions</a></td>
<td style="width:248px;height:18px">&nbsp;For all levels of plan</td>
</tr>
<tr>
<td style="width:54px;height:18px">&nbsp;Fourth</td>
<td style="width:289px;height:18px">&nbsp;Create the Product Flow Diagram</a></td>
<td style="width:248px;height:18px">&nbsp;For all levels of plan</td>
</tr>
</tbody>
</table>
<br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-purpose-of-the-Plans-theme"></a>The purpose of the Plans theme</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Plans theme is to <b>facilitate communication and control</b> by <b>defining the means of delivering the products</b>:</code></div>
<div>
<ul><li><span style="background-color:transparent;font-size:1em;line-height:1.5"><code>the where</code></span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5"><code>and how</code></span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5"><code>and by whom</code></span></li>
<li><span style="background-color:transparent;font-size:1em;line-height:1.5"><code>and estimating the when and how much.</code></span></li></ul>
<div></div>
</div>
</div>
<br>
<p style="text-align:center"><img alt="structure chart showing the purpose of plans" border="0" src="/public/PLANS_PURPOSE.png" style="width:90%;margin:auto">
</p>
<br>
</div>
<h2><a name="TOC-The-levels-of-plans-their-purpose-and-the-interrelationship-between-the-Project-Plan-Stage-Plans-Team-Plans-and-an-Exception-Plan"></a>The levels of plans, their purpose and the interrelationship between the Project Plan, Stage Plans, Team Plans and an Exception Plan</h2>
<div>I refer you to <a href="#plan_diag">the diagram above</a><br>
</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-three-types-of-management-product"></a>The three types of management product</h2>
<div>
<ul><li>Baselines</li>
<li>Records</li>
<li>Reports</li></ul>
<h3><a name="TOC-BASELINES"></a>BASELINES</h3>
</div>
<div>Define aspects of the project and once <b>approved</b> are subject to <b>change control (in a Configuration Management System)</b>.</div>
<div>Baselined items <b>regarding plans</b> are:</div>
<div>
<ul><li>Project Plan (original estimates of work and completion dates etc)</li>
<li>Stage Plans</li>
<li>Team Plans</li></ul>
</div>
<div><br>
</div>
<h3><a name="TOC-RECORDS"></a>RECORDS</h3>
<div>Dynamic management products that maintain information regarding project progress.</div>
<div><br>
</div>
<h3><a name="TOC-REPORTS"></a>REPORTS</h3>
<div>Management products showing a snapshot of the status of an aspect of the project.</div>
<div><br>
</div>
<div><br>
</div>
<a name="tpbpt"></a>
<h2><a name="TOC-The-product-based-planning-technique"></a>The product-based planning technique</h2>
<div>See above for the <a href="#pbfs">four steps in product-based planning</a>.</div>
<div><br>
</div>
<p><b>Starting up a Project</b></p>
<p>The first step is the create the <b>Project product Description</b> which is fundamental to deciding what the project output is going to be. A draft version might be drawn up and then, refined using workshops with those people who could contribute such as users, suppliers and technology experts.</p>
<div><br>
</div>
<p>The Project Product Description will have inputs of the Project mandate as part of creating the outline <a href="/themes/bc">Business Case</a> because the product(s) must fulfil the requirements of the project mandate.&nbsp;Customer's quality expectations are added together with development skills required to form the Project Product Description.</p>
<div><br>
</div>
<p>While drawing up the Project Product Description a <a href="#pbs">Product Breakdown Structure</a> of suitable detail (as known and not too deep at this stage) can be drawn - again via the workshop/brainstorming/post-it notes type gathering of contributors. This is a structure chart.</p>
<div><br>
</div>
<p>For very simple products which are not time consuming or complex to design and produce then perhaps the Project Product Description will suffice. Usually it will not.</p>
<div><br>
</div>
<p><b>Initiating a Project</b></p>
<p>As part of drawing up the Project Plan the Product Descriptions can be compiled to a suitable level of detail which should enable overall planning to be achieved. Not too much just enough. The additional detail in the Product Descriptions is so that the Project Plan can be more accurate - the actual quality requirements (methods and criteria) are added so that these can be factored into the plan.</p>
<div><br>
</div>
<p>Along with Product Descriptions which add more detail regarding the make up of the product there should also be drawn up a Product Flow Diagram which shows the optimum (ideal, uncomplicated by as yet unknowns) flow of events in creating all the products. This means identifying dependencies and this allows a schedule to be created when resources are known. Actual schedules need not be drawn up except for the next management stage and a guess (estimate) of duration for the successive management stages.</p>
<div><br>
</div>
<p><b>Controlling a Stage, Managing a Stage Boundary</b></p>
<p>More detail can be added to Product Descriptions and the Product Flow Diagram or sub-diagrams drawn to allow detailed planning of activities for each Stage and compiled into Stage Plans and Work Packages at the appropriate time which is as soon as it is necessary to know in that amount of detail.</p>
<div><br>
</div>
<h2><a name="TOC-How-the-Plans-theme-supports-the-principles-of:-Focus-on-products-Manage-by-exception-and-Manage-by-stages"></a>How the Plans theme supports the principles of: Focus on products; Manage by exception and Manage by stages</h2>
<p><a href="/details/PRJ#TOC-The-seven-principles">The seven principles</a></p>
<h3><a name="TOC-FOCUS-ON-PRODUCTS"></a>FOCUS ON PRODUCTS</h3>
<div>This is achieved by <a href="#tpbpt">product-based planning</a>.
</div>
<div><br>
</div>
<div><br>
</div>
<h3><a name="TOC-MANAGE-BY-EXCEPTION"></a>MANAGE BY EXCEPTION</h3>
<p>Plans contain <b>tolerances</b> and <b>monitoring and control information</b> which allow the plan to proceed unless the tolerances are exceeded in which case the monitoring and control procedures will be acted upon which will mean the appropriate escalation.</p>
<p><b>Exception plans</b> are drawn up if tolerances are exceeded and replace any existing plans to which the exception plan applies.</p>
<h3><a name="TOC-MANAGE-BY-STAGES"></a>MANAGE BY STAGES</h3>
<p>Initial planning (in Initiating a Project) should only plan in detail for the next management stage and in less detail for the following stages and so-on throughout the project for each management stage. Stage Plans are drawn up for each stage some of which will be technical stages and not management stages. Control is exercised by the <a href="/themes/or">Project Board</a> at the end of each management stage.
</p></div></td></tr></tbody></table>
