<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><div>
            <img alt="Plan, Delegate, Monitor, Control" border="0" src="/public/PDMC.png" style="float:right;margin-top:20px" />
            <a name="saopp"></a>
            <h2><a name="TOC-Six-aspects-of-project-performance-to-be-managed"></a>Six aspects of project performance to be managed</h2>
            <div>
              <ul><li>Costs</li>
                <li>Timescales</li>
                <li>Quality</li>
                <li>Scope</li>
                <li>Risk</li>
                <li>Benefits</li></ul>
              Managing the above requires <b>planning</b>, <b>delegation</b>, <b>monitoring</b> and <b>control</b>.
            </div>
          </div>
          <a name="dafc"></a>
          <h2><a name="TOC-Definition-and-five-characteristics-of-a-project"></a>Definition and five characteristics of a project</h2>
          <div>
            <div class="sites-codeblock sites-codesnippet-block"><code>A project is a temporary organisation that is created for the purpose of delivering one or more business products according to an agreed Business Case.</code></div>
          </div>
          <div>
            <ul><li>Change</li>
              <li>Temporary</li>
              <li>Cross-functional</li>
              <li>Unique</li>
              <li>Uncertainty</li></ul>
          </div>
          <h2><a name="TOC-Four-integrated-elements"></a>Four integrated elements</h2>
          <div>
            <ul><li><a href="#TOC-The-seven-principles">Principles</li>
              <li><a href="/themes">Themes</a></li>
              <li><a href="/details/PRJ">Processes</a></li>
              <li><a href="#TOC-TAILOR-TO-SUIT-THE-ENVIRONMENT">Tailoring the project environment</a></li></ul>
          </div>
          <a name="boup2"></a>
          <h2><a name="TOC-Benefits-of-using-PRINCE2"></a>Benefits of using PRINCE2</h2>
          <div>
            <ul><li>Embodies established best-practice</li>
              <li>Can be applied to any type of project</li>
              <li>Widely recognised and understood</li>
              <li>Provides for the explicit recognition of project responsibilities</li>
              <li>Product focus clarifies what a project will deliver</li>
              <li>The plans meet the needs of the different levels in the management team</li>
              <li>It is based on a management by exception framework</li>
              <li>Participants focus on the viability of the project in relation to Business Case objectives</li>
              <li>It defines a thorough but economical structure of reports</li>
              <li>It ensures that stakeholders are properly represented in decision making</li>
              <li>It promotes learning and continual improvement in organisations</li>
              <li>It promotes consistency, re-use and staff mobility</li>
              <li>It facilitates assessment, assurance, troubleshooting and audits</li>
              <li>Accredited training organisations and accredited consultancy organisations can provide support</li></ul>
          </div>
          <a name="cscop2p"></a>
          <h2><a name="TOC-Customer-supplier-context-of-a-PRINCE2-project"></a>Customer/supplier context of a PRINCE2 project</h2>
          <div>PRINCE2 is based on the pretext that there is a customer who requires and probably pays for the product of the project and that a supplier will produce the product. Whether or not the customer and the supplier can be one and the same with different roles is still a mystery.</div>
          <div><a name="tsp"></a>
          </div>
          <h2><a name="TOC-The-seven-principles"></a>The seven principles</h2>
          <div>Applying the seven principles makes a project a PRINCE2 project. All principles need to be applied to all projects. Applying the principles gives confidence in shaping the project. The principles have been validated in projects for many years.</div>
          <div><a name="cbj"></a>
          </div>
          <h3><a name="TOC-CONTINUED-BUSINESS-JUSTIFICATION"></a>CONTINUED BUSINESS JUSTIFICATION</h3>
          <div>
            <ul><li>There should be a justifiable reason to start the project</li>
              <li>The justification should remain valid considering events during the project</li>
              <li>The justification should be documented</li></ul>
            The justification will be documented in the <span style="background-color:transparent;font-size:1em;line-height:1.5"><a href="/themes/businesscase">Business Case</a></span><span style="background-color:transparent;font-size:1em;line-height:1.5">.</span></div>
          <div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br />
            </span></div>
            <div><span style="background-color:transparent;font-size:1em;line-height:1.5">Stopping a project is not a bad thing it can save money/release staff if the project can no longer be justified. Pressing on regardless is <b>NOT</b> PRINCE2.</span></div>
            <div><a name="lfe"></a></div>
            <h3><a name="TOC-LEARN-FROM-EXPERIENCE"></a>LEARN FROM EXPERIENCE</h3>
            <h4><a name="TOC-When-starting-a-project"></a>When starting a project</h4>
            <div><span style="background-color:transparent;font-size:1em;line-height:1.5">Search out lessons learned from previous or similar projects or external help if the project is a first for those involved.</span></div>
            <div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br />
              </span></div>
              <h4><a name="TOC-As-the-project-progresses"></a>As the project progresses</h4>
              <div><span style="background-color:transparent;font-size:1em;line-height:1.5">Lessons should be included in all reports and reviews. Look for ways things could be done better and formalise them. Everyone should be doing this.</span></div>
              <div><br />
              </div>
              <h4><a name="TOC-As-the-project-closes"></a>As the project closes</h4>
              <div><span style="background-color:transparent;font-size:1em;line-height:1.5">Lessons identified along the way should be documented to be used in other projects. Lessons learned should be documented in the Lessons Report which can be done at each stage not just the end.</span></div>
              <div><a name="drr"></a>
              </div>
              <h3><a name="TOC-DEFINED-ROLES-AND-RESPONSIBILITIES"></a>DEFINED ROLES AND RESPONSIBILITIES</h3>
              <div>Everyone has a defined role within the project and each role has defined responsibilities. These are different to day to day roles in non-project mode. Roles must represent the three primary stakeholders:</div>
              <div>
                <ul><li>The Business - the business will expect to see benefits for their investment and expect value for money</li>
                  <li>The Users - these are the people who will use the product of the project to gain the benefit to the business</li>
                  <li>The Suppliers - these are the people who will produce the product of the project (internal or external)</li></ul>
                All three primary stakeholders must be represented on the project management team.</div>
              <div><br />
              </div>
              <div>For everyone involved in the project roles and responsibilities should clearly answer the question of 'what is expected of me?'</div>
              <div><a name="mbs"></a>
              </div>
              <h3><a name="TOC-MANAGE-BY-STAGES"></a>MANAGE BY STAGES</h3>
              <div>To avoid wasting time doing detailed planning too far ahead there should be a high-level plan for the project as a whole and detailed stage plans for each stage in the high level plan to be completed as the project progresses.</div>
              <div><br />
              </div>
              <div>Each stage is called a management stage.</div>
              <div><br />
              </div>
              <div>Reports are produced at the end of each stage so shorter stages mean more high level management involvement and longer stages mean less.</div>
              <div><br />
              </div>
              <div>Management (PDMC) is done on a stage by stage basis.</div>
              <div><br />
              </div>
              <div>
                <div><a name="mbe"></a>
                </div>
                <h3><a name="TOC-MANAGE-BY-EXCEPTION"></a>MANAGE BY EXCEPTION</h3>
                <div>The six aspects of project management (above) <b>Cost</b>, <b>Time</b>, <b>Risk</b>, <b>Scope</b>, <b>Benefit</b> and <b>Quality</b> are assigned tolerances suitable for each and agreed with senior management (above project manager). So long as the tolerances are not <b>forecast</b> to be breached then senior management are happy to delegate control to the project team.</div>
                <div><br />
                </div>
                <div>An assurance mechanism should be in place to satisfy management that they will be informed should a threshold be breached.</div>
                <div><br />
                </div>
                <div><br />
                </div>
                <h3><a name="TOC-FOCUS-ON-PRODUCTS"></a>FOCUS ON PRODUCTS</h3>
                <div>Terms of Reference described by Product Descriptions ensure that the project is output-oriented not activity-oriented.</div>
                <div><br />
                </div>
                <div>Risks such as acceptance disputes, scope creep and underestimation of acceptance procedure activity are mitigated by focus on product.</div>
                <div><br />
                </div>
                <h3><a name="TOC-TAILOR-TO-SUIT-THE-ENVIRONMENT"></a>TAILOR TO SUIT THE ENVIRONMENT</h3>
                <div>The Project Initiation Document should include how the project is being tailored to suit. </div>
                <div>Tailoring is necessary to suit the complexity of the project and to align the project with supporting and governing processes (HR, Procurement etc).</div>
                <div>The project manager and project board should decide on tailoring.</div>
                <div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br />
                  </span></div>
                  <div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br />
                    </span></div>
<a name="coap"></a>
<h2><a name="TOC-The-characteristics-of-a-project"></a>The characteristics of a project</h2>
<h3><a name="TOC-CHANGE"></a><span style="background-color:transparent;font-size:1em;line-height:1.5">CHANGE</span></h3>
<div>Projects are the way organisations introduce change. A change means an understanding of how-it-is-now and how-it-will-be. The project moves the organisation<br />
<h3><a name="TOC-TEMPORARY"></a><span style="background-color:transparent;font-size:1em;line-height:1.5">TEMPORARY</span></h3>
This is different to business-as-usual and people may take on temporary roles and responsibilities. A project should have a defined start and a defined end.</div>
<div>
<h3><a name="TOC-CROSS-FUNCTIONAL"></a><span style="background-color:transparent;font-size:1em;line-height:1.5">CROSS-FUNCTIONAL</span></h3>
<span style="background-color:transparent;font-size:1em;line-height:1.5">Projects involve people with different skills and motivations working together. People from different departments in an organisation work together and this requires communication and organisation.</span></div>
<div>
<h3><a name="TOC-UNIQUE"></a><span style="background-color:transparent;font-size:1em;line-height:1.5">UNIQUE</span></h3>
<span style="background-color:transparent;font-size:1em;line-height:1.5">Every project is, in some way, unique and everyone involved needs to focus on the product and challenges of this project and be prepared to learn and adapt.</span></div>
<h3><a name="TOC-UNCERTAINTY"></a><span style="background-color:transparent;font-size:1em;line-height:1.5">UNCERTAINTY</span></h3>
<div>Projects are inherently more risky than business-as-usual. Project members need to respond to unexpected events. Can risk be reduced? Can it be quantified?</div>
</div></div></td></tr></tbody></table>
</div> 
</div> 
<div id="sites-canvas-bottom-panel">
<div xmlns="http://www.w3.org/1999/xhtml" id="COMP_page-subpages"> </div>
<div id="sites-attachments-container">
</div>
</div>
</div> 
</td> 
</tr>
</table> 
