<% cswitch = params['process'].to_i %>
<% case cswitch %>
<% when 0 %>
  <% processtxt = "Start Up a Project" %>
  <% process = @project.get_processes[0] %>
  <% style = "width:50%; height:100%;background-color:#fffe65;border-color:black;text-align:left;vertical-align:top; border-style:solid"%>
<% when 1 %>
  <% processtxt = "Directing a Project" %>
  <% process = @project.get_processes[1] %>
  <% style = "width:50%; height:100%;background-color:#6665cd;border-color:black;text-align:left;vertical-align:top; border-style:solid"%>
<% when 2 %>
  <% processtxt = "Initiating a Project" %>
<% when 3 %>
  <% processtxt = "Controling a Stage" %>
<% when 4 %>
  <% processtxt = "Managing Product Delivery" %>
<% when 5 %>
  <% processtxt = "Managing Stage Boundaries" %>
<% when 6 %>
  <% processtxt = "Closing a Project" %>
<% else %>
  <% processtxt = "not known" %>
<% end %>

<% elsigable = false %>
<% if process != nil then eligable = process.is_eligable? end %>
<h1><%= "#{params['project_name']} => #{processtxt} : NextStage[#{eligable}]" %></h1>
<table style='<%= "#{style}" %>'>
  <tr>
    <th><u>hierachie</u></th>
    <th>|</th>
    <% cname = nil %>
    <% process.get_proc_dataframe.each{|col| %>
      <% Rails.logger.info "col[#{col.to_s} cname = #{col.name}" %>
      <% if !col.name.is_a?(Integer) && col.name != nil then cname = col.name.chop else cname = col.name end %> 
     <%= "<th><u>#{cname}</u></th>" %>
    <% } %>
  </tr>
  <%= process.get_proc_dataframe.to_html_tbody() %>
</table>
