<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Quality (QU)</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-Recall-the-recommended-quality-review-team-roles-and-their-responsibilities"></a>Recall the recommended quality review team roles and their responsibilities</h2>
<div>Quality review is a generic technique and the roles are in addition to the Organisation theme roles. Suitable mappings might be:</div>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:248px;height:52px"><b>&nbsp;Quality review role</b></td>
<td style="width:282px;height:52px"><b>Organisation theme role</b></td>
</tr>
<tr>
<td style="width:248px;height:18px">&nbsp;Chair</td>
<td style="width:282px;height:18px">Executive, Senior User, Project Manager, Team Manager</td>
</tr>
<tr>
<td>&nbsp;Presenter</td>
<td>Team Manager, Senior Supplier</td>
</tr>
<tr>
<td>&nbsp;Reviewer</td>
<td>Senior User, or representative(s) thereof</td>
</tr>
<tr>
<td>&nbsp;Administrator</td>
<td>Project Support/Project Manager</td>
</tr>
</tbody>
</table>
<br>
</div>
<div><br>
</div>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:144px;height:18px"><b>&nbsp;Role</b></td>
<td style="width:504px;height:18px"><b>&nbsp;Responsibilities</b></td>
</tr>
<tr>
<td style="width:144px;height:18px">&nbsp;Chair<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></td>
<td style="width:504px;height:18px">This role is responsible for the overall conduct of the review.&nbsp;</td>
</tr>
<tr>
<td style="width:144px;height:18px">&nbsp;Presenter</td>
<td style="width:504px;height:18px">This role presents the product for review and takes responsibility for the required actions/changes to the product being carried out.</td>
</tr>
<tr>
<td style="width:144px;height:18px">&nbsp;Reviewer</td>
<td style="width:504px;height:18px">&nbsp;Reviews the product, submits questions (beforehand) and confirms corrections/improvements&nbsp;</td>
</tr>
<tr>
<td>&nbsp;Administrator</td>
<td>&nbsp;Provides support and takes minutes/actions etc.</td>
</tr>
</tbody>
</table>
<br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-purpose-of-the-Quality-theme"></a>The purpose of the Quality theme</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Quality theme is to <b>define</b> <u>and</u> <b>implement</b> the means by which the project will verify that products are fit for purpose.</code></div>
<div></div>
</div>
<br>
<div>Quality is an intrinsic part of the project, one of the six aspects of project management and needs to be part of planning to ensure that:</div>
<div>
<ul><li>Time is allocated for quality procedures</li>
<li>Time and resources are allocated to make the product fit for purpose (manufacturing costs etc)</li>
<li>It forms part of the definition of the scope of the project.</li></ul>
<div><br>
</div>
</div>
<img alt="PRINCE2 Quality and the Demming Cycle of plan do check act and how this supports the learn from experience principle" border="0" src="/public/QU_DEMMING.png" style="float:right;width:40%" title="PRINCE2 Quality and the Demming Cycle of plan do check act and how this supports the learn from experience principle">
<h2><a name="TOC-How-the-Quality-theme-supports-the-learn-from-experience-principle"></a>How the Quality theme supports the 'learn from experience' principle</h2>
<div>
The 'learn from experience principle' is defined on the <a href="/details/PRJ#TOC-LEARN-FROM-EXPERIENCE">Overview page</a>.</div>
<div><br>
</div>
<div>During the project and at project closure the quality records provide a valuable source of information for analysis in accordance with the PRINCE2 principle that projects should learn from experience. For example: quality metrics such as defect types and trends can be used as a source for lessons learned and process improvements.</div>
<div><br>
</div>
<div>Lesser experienced team members can benefit from experience of others in quality review meetings and more experienced team members can benefit from the fresh viewpoint of others who might spot issues those more familiar with the product might take for granted.</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-relationship-between-quality-assurance-and-Project-Assurance"></a>The relationship between quality assurance and Project Assurance</h2>
<div>Quality assurance is outside the project and is there to check that Project Assurance is doing its job properly.
</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-objectives-of-the-quality-review-technique"></a>The objectives of the quality review technique</h2>
<div>
<ul><li>To assess the product against set criteria</li>
<li>To involve key interested parties in checking the product</li>
<li>The quality <b>review</b> provides confirmation that the product is ready for approval</li>
<li>It provides a <b>baseline</b> for change control for any subsequent changes to the product.</li></ul>
<div><br>
</div>
</div>
<h2><a name="TOC-The-purpose-of:"></a>The purpose of:</h2>
<h3><a name="TOC-QUALITY-PLANNING"></a>QUALITY PLANNING</h3>
<div><b>Defining</b> the products to be produced including quality <b>criteria</b> and quality <b>methods</b> and quality <b>responsibilities</b> of those involved.</div>
<div><br>
</div>
<h3><a name="TOC-CUSTOMER-QUALITY-EXPECTATIONS"></a>CUSTOMER QUALITY EXPECTATIONS</h3>
<div>
<ul><li>To allow detailed acceptance criteria to be drawn up which include the expected quality</li>
<li>To specify if any specific expectations such as the use of a quality management system</li>
<li>To be part of the input to the solution design.</li></ul>
<span style="background-color:transparent;font-size:1em;line-height:1.5">
<div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br>
</span></div>
</span>
<h3><a name="TOC-QUALITY-REGISTER"></a>QUALITY REGISTER</h3>
<div>
The Quality Register keeps track of the quality activities from the Quality Management Strategy such as:</div>
<div>
<ul><li>Testing</li>
<li>Quality reviews</li>
<li>Inspections</li>
<li>Audits</li>
<li>Acceptance</li></ul>
recording the outcomes of each (success etc) for assurance and audit purposes. It should link to Quality Records which can then be used as evidence or for further analysis and metrics for lessons learned.</div>
<div><br>
</div>
<h3><a name="TOC-QUALITY-MANAGEMENT-STRATEGY"></a>QUALITY MANAGEMENT STRATEGY</h3>
<div>The Quality Management Strategy is prepared to define how the project will meet the customer's quality expectations.</div>
<div>
<ul><li>How the quality management systems of participating organisations will be applied</li>
<li>Only changes to standard quality strategies in a programme for example need to be documented</li>
<li>Levels of formality in plans and controls for this project</li>
<li>Key responsibilities for quality are documented</li>
<li>From the QMS comes the Product Descriptions (which need the input of overall quality requirements) where the detailed product requirements will be defined.</li></ul>
<br>
</div>
<h3><a name="TOC-QUALITY-CONTROL"></a>QUALITY CONTROL</h3>
<div>Quality control is actually doing what is set out in the Quality Management Strategy which is:</div>
<div>
<ul><li>Carrying out the quality methods (reviews, testing or whatever was approved by the board)</li>
<li>Documenting the control in quality and approval records (test scripts results, approval document, review outcomes etc)</li>
<li>Gaining acceptance of the product by achieving the specified quality.</li></ul>
<br>
</div>
<h2><a name="TOC-The-purpose-and-composition-of-a-Product-Description"></a>The purpose and composition of a Product Description</h2>
<h3><a name="TOC-PURPOSE"></a>PURPOSE</h3>
<div>The purpose of a product description is to document what it is that the project will actually be producing (for each product) in sufficient detail so it can be made to the level of quality expected.</div>
<div>
<ul><li>The purpose of the product</li>
<li>The quality criteria, methods, tolerances and skills required</li>
<li>The quality responsibilities (producer, reviewer, approver)</li></ul>
</div>
<div><br>
</div>
<h3><a name="TOC-COMPOSITION"></a>COMPOSITION</h3>
<h4><a name="TOC-Quality-criteria-and-tolerances"></a>Quality criteria and tolerances</h4>
<div>The quality criteria and tolerances should be of sufficient detail and clarity to enable those reviewing a product to <b>unambiguously</b> confirm whether the product met it's requirements. These should be <b style="background-color:rgb(255,255,0)">PRIORITISED</b>.</div>
<h4><a name="TOC-Quality-methods"></a>Quality methods</h4>
<p>Which in-process and appraisal methods will be needed to achieve the desired quality for this product.</p>
<h4><a name="TOC-Quality-responsibilities"></a>Quality responsibilities</h4>
<div>These will map to roles depending on the nature of the product. If the product is a system test plan then perhaps a peer to the producer could review it and the Team Manager could approve it. For one of the main project products then perhaps the Senior User would review it and the whole Project Board approve it. &nbsp;&nbsp;</div>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:180px;height:18px">&nbsp;<b>Producer</b></td>
<td style="width:419px;height:18px">&nbsp;The person or group responsible for developing a product</td>
</tr>
<tr>
<td style="width:180px;height:18px"><b>&nbsp;Reviewer</b></td>
<td style="width:419px;height:18px">&nbsp;Independent of the Producer.&nbsp;</td>
</tr>
<tr>
<td style="width:180px;height:18px">&nbsp;<b>Approver</b></td>
<td style="width:419px;height:18px">Authorised and qualified to approve the product as fit for purpose. The approver needs to be able to authorise requests for change if the product meets criteria and is still not fit for purpose.</td>
</tr>
</tbody>
</table>
<br>
</div>
</div></div></td></tr></tbody></table>
</div> 
</div> 
