<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Risk (RK)</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><p style="font-size:1.5em;font-style:italic;background-color:#bbc;text-align:center;margin:0px 20% 5px 20%">Managing <b>threats</b> and <b>opportunities</b>
</p>
<h2><a name="TOC-The-definition-of-risk-and-the-difference-between-a-threat-and-an-opportunity"></a>The definition of risk and the difference between a threat and an opportunity</h2>
<p style="text-align:center">
<img alt="Risk assessment form" border="0" src="/public/RISK_ASSESSMENT.png" style="width:90%;margin:auto" title="trying to assess risk">
</p>

A good way of identifying risks (thinking of them) is to use PESTLE.
<ul>
<li><b>Political:</b> Factors of a political nature which may present risks or opportunities. This doesn’t just relate to local or federal government and their changes which can impact a Company. It could also relate to internal or intercompany politics. In situations there are risks, opportunities and normally both. When things change new risks and opportunities may be presented and existing risks and opportunities should be reviewed.</li>
<li><b>Economic:</b> Economic factors both inside the company and external to the Company can present big risks and opportunities. External influences could be for example, a change in interest , inflation or exchange rates could impact borrowing and spending and any financial impact is likely to be felt in spending and pricing which will apply to both customers and suppliers. Internal influences could be driven by budgetary changes.</li>
<li><b>Social:</b> Social factors consider stakeholder preferences, communication preferences, cultural differences, ethical standards, perception of value and quality where risks and opportunities can be presented by all of these. For example a customer who perceives a product as being higher quality will pay more for it even if it costs no more to produce, but may not purchase at all if the product breaches their ethical standards.</li>
<li><b>Technological:</b> Factors relating to technology are things like process automation, product or service development, supplier, competitor and customer technology, industry innovation. Competitor technology can present a threat, supplier technology can present an opportunity and customer technology can present an opportunity if you are able to align yourself with it and a threat if you can’t.</li>
<li><b>Legal:</b> Legal factors include both those imposed by the governance of the jurisdictions you operate in and the internal governance your company has established. Not understanding the legal requirements of the jurisdictions you operate in is certainly a risk, but changes to requirements can present risks and opportunities.</li>
<li><b>Environmental:</b> Factors from the operational environment or the market which present risks and opportunities. Understanding the geographic locations you operate in,
their climates, their populations, infrastructure constraints, sustainability, ethical sourcing, etc.</li>
</ul>
<div><br>
<img alt="uncertain event can be threat or opportunity and this is all called risk" border="0" src="/public/THREAT_OPPORTUNITY.png" style="width:50%;float:right">
<div>A risk is an <b>uncertain event</b> which, should it occur, would have an <b>impact on the project</b>.</div>
<div><br>
</div>
<div>The risk comprises of <b>probability of occurrence</b> and the <b>magnitude of impact</b>.</div>
<div><br>
</div>
<div>

Risks are not always negative in the land of PRINCE2. <b>Threat</b> is negative impact and <b>Opportunity</b> is positive impact. It is the <b>EVENT</b> which leads to risk here not the perceived hazard.
</div>
<div><br>
</div>
<div><br>
</div>
<div><span style="background-color:transparent;font-size:1em;line-height:1.5">Risk management means </span><b style="background-color:transparent;font-size:1em;line-height:1.5">identifying risks</b><span style="background-color:transparent;font-size:1em;line-height:1.5"> (hazards and events), </span><b style="background-color:transparent;font-size:1em;line-height:1.5">assessing risks</b><span style="background-color:transparent;font-size:1em;line-height:1.5"> (probability and impact) and </span><b style="background-color:transparent;font-size:1em;line-height:1.5">controlling risks</b><span style="background-color:transparent;font-size:1em;line-height:1.5"> (what action can be taken to lessen threat).</span></div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-risk-response-types-and-whether-they-are-used-to-respond-to-a-threat-or-an-opportunity"></a>The risk response types and whether they are used to respond to a threat or an opportunity</h2>
<p style="text-align:center">
</p>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px;margin:auto;text-align:center">
<thead>
<tr style="background-color:#aaa;font-weight:bold">
<td style="width:283px">&nbsp;Threat responses</td>
<td style="width:178px">&nbsp;Opportunity responses</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width:282px;height:18px">&nbsp;Avoid</td>
<td style="width:177px;height:18px">&nbsp;Exploit</td>
</tr>
<tr>
<td style="width:282px;height:18px">&nbsp;Reduce (pro actively)</td>
<td rowspan="3" style="width:177px;height:18px">&nbsp;Enhance</td>
</tr>
<tr>
<td style="width:282px;height:18px">&nbsp;Fallback</td>
</tr>
<tr>
<td style="width:282px;height:18px">&nbsp;Transfer</td>
</tr>
<tr>
<td style="width:282px;height:18px">&nbsp;Share</td>
<td style="width:177px;height:18px">&nbsp;Share</td>
</tr>
<tr>
<td style="width:282px;height:18px">&nbsp;Accept</td>
<td style="width:177px;height:18px">&nbsp;Reject</td>
</tr>
</tbody>
</table>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-difference-between-a-risk-owner-and-a-risk-actionee"></a>The difference between a risk owner and a risk actionee</h2>
<div>One a risk is identified it is assigned an <b>owner</b> who is responsible for all matters regarding this risk. They monitor it and should it require response action are also responsible for taking that action (perhaps more than one response). The risk owner is answerable to the Project Manager.</div>
<div><br>
</div>
<div>If the response requires specialist knowledge or is quite simple and boring then it will be assigned to a risk <b>actionee</b> who carries out the response but is always answerable to the owner. The <b>actionee</b> can be considered the owner of <b>this required action</b>&nbsp;but there can be more than one action with different actionees.&nbsp;</div>
<div><br>
</div>
<p style="font-size:1.5em;font-style:italic;background-color:#bbc;text-align:center;margin-left:20%;margin-right:20%">Managing <b>uncertainty</b>
</p>
<h2><a name="TOC-The-purpose-of-the-Risk-theme"></a>The purpose of the Risk theme</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>The purpose of the Risk theme is to identify, assess and control <b>uncertainty</b> and, as a result, improve the ability of the project to succeed.</code></div>
<div></div>
</div>
<br>
<h2><a name="TOC-How-the-Risk-theme-supports-the-continued-business-justification-principle"></a>How the Risk theme supports the continued business justification principle</h2>
<div>A reminder of the <a href="/details/PRJ#TOC-CONTINUED-BUSINESS-JUSTIFICATION">continued business justification principle</a>.</div>
<div><br>
</div>
<div>Risk management starts at the very beginning of PRINCE2 and is a continual activity carried out throughout the life of the project, without this, it would not be possible to have the confidence that the project is able to meet its objectives and should therefore be continued. In other words, risk management <b>threatens the Business Case</b> and hence the continued business justification principle.<br>
</div>
<div><br>
</div>
<div>In the Starting up the Project process, the project manager will use the Daily Log to capture and manage any known risks; these will be used as part of the <b>evidence put before the project board to decide whether or not to proceed</b>.<br>
</div>
<div><br>
</div>
<div><b>Major risks</b> are included in the Business Case.</div>
<div><br>
</div>
<img alt="Risks and continued business justification" border="0" src="/public/RISK_AND_CBJ.png" style="width:60%;float:right">
<div>During a project, say during Managing Product Delivery (doing the work), teams may identify risks. The Team Manager should inform the Project Manager (doing Controlling a Stage) of the Risk and the PM then adds it to the Risk Register (needs categorising from RMS, owner assigning etc).At Managing a Stage Boundary the Business Case may be updated to reflect this risk and then the Project Board will need to decide if the project <b>still has business justification</b>.</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<div>The risks are <b>documented</b> in the Risk Register.</div>
<div><br>
</div>
<div><span style="font-size:1em;line-height:1.5">In the <b style="background-color:rgb(255,255,0)">Assess &gt; Evaluate</b> element of risk management the total net severity of risk is evaluated and this can be </span><b style="background-color:transparent;font-size:1em;line-height:1.5">compared to the tolerances set for risk</b><span style="background-color:transparent;font-size:1em;line-height:1.5"> (one of the six aspects of management) and hence assist determination of <b>continued business justification</b>.</span></div>
<div><span style="background-color:transparent;font-size:1em;line-height:1.5"><br>
</span></div>
<div><span style="background-color:transparent;font-size:1em;line-height:1.5">&nbsp;</span></div>
</div>
<div><a name="fsrmp"></a></div>
<h2><a name="TOC-The-five-steps-within-the-risk-management-procedure"></a>The five steps within the risk management procedure</h2>
<span style="width:60%"><img alt="risk management procedure - identify, assess, plan, implement, communicate" src="/public/RISK_MANAGEMENT_PROCEDURE.png" style="width:60%;float:right" title="risk management procedure - identify, assess, plan, implement, communicate"></span>
<div style="background-color:transparent"><span style="background-color:transparent;font-size:1em;line-height:1.5">The five steps within the risk management procedure are:</span></div>
<div>
<ul><li><span style="background-color:rgb(255,255,0)">Identify</span></li>
<li><span style="background-color:rgb(255,255,0)">Assess</span></li>
<li><span style="background-color:rgb(255,255,0)">Plan</span></li>
<li style="background-color:transparent">Implement</li>
<li style="background-color:transparent">Communicate</li></ul>
<div><span style="background-color:transparent">All of the above are on-going and the process is iterative. The </span><span style="background-color:rgb(255,255,0)">highlighted ones are called risk analysis</span>.</div>
</div>
<div style="background-color:transparent"><br>
</div>
<h3 style="background-color:transparent"><a name="TOC-IDENTIFY"></a>IDENTIFY</h3>
<h4 style="background-color:transparent"><a name="TOC-Context"></a>Context</h4>
<div style="background-color:transparent">In the Initiation stage the <a href="#TOC-RISK-MANAGEMENT-STRATEGY">Risk Management Strategy</a> identifies the context for risk management - the <b>HOW</b> and also <b>WHAT</b> it is that is at risk (not the risks).</div>
<div><br>
</div>
<h4 style="background-color:transparent"><a name="TOC-Risks"></a>Risks</h4>
<div style="background-color:transparent">Identify EACH risk. This can be done in workshops and perhaps using PESTLE. This process identifies a list of possible risks or can come from team members at any time during the project. Brainstorming, checklists etc can be used to help identify risks.</div>
<div style="background-color:transparent"><br>
</div>
<div style="background-color:transparent">For each risk identified, as it is identified, it should comprise of the <b>cause</b> of the risk, the <b>event</b> pertaining to the risk we are concerned with and the <b>effect</b> that this event would have on the project.It should be noted, as well, whether the risk is considered an opportunity or a threat.</div>
<div style="background-color:transparent"><br>
</div>
<h3><a name="TOC-ASSESS"></a>ASSESS</h3>
<h4><a name="TOC-Estimate"></a>Estimate</h4>
<div style="float:right;width:50%;margin-left:3px">
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:60px">Very high</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
</tr>
<tr>
<td style="width:60px">High</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
</tr>
<tr>
<td style="width:60px">Medium</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;2</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
</tr>
<tr>
<td style="width:60px">Low</td>
<td style="width:60px">&nbsp;5.6</td>
<td style="width:60px">&nbsp;1, 7</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;3</td>
<td style="width:60px">&nbsp;</td>
</tr>
<tr>
<td style="width:60px">Very low</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;4</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
<td style="width:60px">&nbsp;</td>
</tr>
<tr>
<td style="width:60px">Prob / Impact</td>
<td style="width:60px">Very low</td>
<td style="width:60px">Low</td>
<td style="width:60px">Medium</td>
<td style="width:60px">High</td>
<td style="width:60px">Very high</td>
</tr>
</tbody>
</table>
<br>
</div>
<div>For <b>EACH</b> risk the severity rating should be estimated by considering the <b>probability</b> and <b>impact</b> and also taking &nbsp;into account the <b>proximity</b> and how all these will change over the course of the project and afterwards.&nbsp;</div>
<div><br>
</div>
<div>To visualise the risk severity they can be put on a summary risk profile:</div>
<div><br>
</div>
<div>The ID of the risks (from the <a href="#TOC-RISK-REGISTER">Risk Register</a>) are used to identify the risks in the grid.&nbsp;</div>
<div><br>
</div>
<div>There should be clear guidance in the <a href="#TOC-RISK-MANAGEMENT-STRATEGY">Risk Management Strategy</a> as to how to assign impact and probability and which squares in the grid are within/outside tolerance.</div>
<div><br>
</div>
<h4><a name="TOC-Evaluate"></a>Evaluate</h4>
<div>When the severity of all the risks are aggregated % probability X some value. How to do this and get the figure should be in the <a href="#TOC-RISK-MANAGEMENT-STRATEGY">Risk Management Strateg</a>.
</div>
<div><br>
</div>
<h3><a name="TOC-PLAN"></a>PLAN</h3>
<div>The responses (a range of them) to each risk as categorised above in threats and opportunities (avoid, accept etc) should be determined and any activities added to the plan.</div>
<div><br>
</div>
<h3><a name="TOC-IMPLEMENT"></a>IMPLEMENT</h3>
<div>Once the responses are approved they should be assigned <b>owners</b>&nbsp;(one owner per risk) and the responses should be carried out as per the plan. The <b>owner</b> may get an <b>actionee</b> to do whatever is required to help them out.</div>
<div><br>
</div>
<div><br>
</div>
<h3><a name="TOC-COMMUNICATE"></a>COMMUNICATE</h3>
<div>Communicate happens all the time between everybody. The formal channels for communicating risk are:</div>
<div>
<ul><li>Checkpoint Reports</li>
<li>Highlight Reports</li>
<li>End Stage Reports</li>
<li>End Project Report</li>
<li>Lessons Report</li></ul>
<div>Remember there could be intranet pages, bulletin boards, normal notice boards etc. Think about confidentiality and security etc in this type of communication.</div>
</div>
<h2><a name="TOC-The-purpose-of-a-risk-budget"></a>The purpose of a risk budget</h2>
<div>A risk budget is there to provide the funding for both the management and the response actions of risks with a project.<br>
</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-probability-impact-and-proximity-of-a-risk"></a>The probability, impact and proximity of a risk</h2>
<div>A risk is measured by the <b>probability</b> and <b>impact</b>. The <b>proximity</b> is used to determine if a threat or opportunity is even a risk to the project at all or, if so, what the &nbsp;impact will be on <b>when</b> it occurs.</div>
<div><br>
</div>
<div><span style="color:rgb(88,63,111);font-family:Palatino,Palatino Linotype,serif;font-size:1.5em;background-color:transparent;line-height:1.5">PROBABILITY</span></div>
<div>This is the <b>evaluated (quantified and considered) likelihood</b> &nbsp;of a particular threat or opportunity actually happening, including a consideration of the frequency with which this may arise (think flooding).</div>
<div><br>
</div>
<h3><a name="TOC-IMPACT"></a>IMPACT</h3>
<div>The <b>result of a particular threat or opportunity</b> actually occurring, or the anticipation of such a result. The impact will depend on the proximity. The ice age will come again no doubt but nothing to do with this project probably.</div>
<div><br>
</div>
<h3><a name="TOC-PROXIMITY"></a>PROXIMITY</h3>
<div>The time factor of risk, ie <b>when the risk may occur</b>. The impact of a risk might vary in severity depending on <b>when</b> the risk occurs. Time spans should be categorised in the <a href="#TOC-RISK-MANAGEMENT-STRATEGY">Risk Management Strategy</a>. Also timespans not relevant to this project should be stated e.g. over ten years ignore risk.</div>
<div><br>
</div>
<div><i>(If a competitor product is released six months prior to ours then we will suffer x amount but if they release one week ahead of ours then we will suffer less and perhaps actually gain from the publicity around this kind of product.)</i></div>
<div><br>
</div>
<div>
<div><b>Threat</b> - the general election will happen before I have passed my politician exam</div>
<div><b>Opportunity</b> - the general election will happen after I have passed my politician exam.</div>
</div>
<div><b>No risk</b> - I have now failed my politician exam and so the election does not matter any more.</div>
<h2><a name="TOC-The-difference-between-cause-event-and-effect-when-expressing-a-risk"></a>The difference between cause, event and effect when expressing a risk</h2>
<div>A <b>RISK CAUSE</b> might result in a <b>RISK EVENT</b> which might have an&nbsp;<b>EFFECT</b>&nbsp;on a project <i>objective</i>.</div>
<div><br>
</div>
<div>
<table border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:268px;height:18px">&nbsp;<b>CAUSE ----&gt;</b></td>
<td style="width:319px;height:18px">&nbsp;<b>EVENT -----&gt;</b></td>
<td style="width:341px;height:18px">&nbsp;<b>EFFECT </b>(Remember to say what <b>objective</b> it affects)</td>
</tr>
<tr>
<td style="width:268px;height:18px">&nbsp;Bad traffic outside the house</td>
<td style="width:319px;height:18px">&nbsp;make me late for work</td>
<td style="width:341px;height:18px">&nbsp;make the boss complain to the agency and possibly prevent me from ever working again</td>
</tr>
<tr>
<td style="width:268px;height:18px">&nbsp;bad weather</td>
<td style="width:319px;height:18px">&nbsp;prevents me working</td>
<td style="width:341px;height:18px">&nbsp;get behind <b>schedule</b></td>
</tr>
<tr>
<td>&nbsp;person gets another job</td>
<td>&nbsp;leaves this project - leaves a vacancy - work does not get done</td>
<td>&nbsp;need to find replacement, <b>cost</b> of doing this, risk of doing this (see next risk)</td>
</tr>
<tr>
<td>&nbsp;take on another person not as good</td>
<td>&nbsp;quality not as good, not as quick</td>
<td>&nbsp;<b>expense </b>in re-work, expense in pay over <b>more time spent</b></td>
</tr>
</tbody>
</table>
<br>
</div>
<div>Rows in the above table are known as <b>inherent risks</b> - before any action is taken to manage them. It could well be, for example, that you know your boss is having an affair (and have photographs) and this would lessen the impact should any 'course of action' become necessary.</div>
<h2><a name="TOC-The-concept-of-risk-appetite-tolerances"></a>The concept of risk appetite/tolerances</h2>
<div></div>
<div class="sites-codeblock sites-codesnippet-block">
<div><code>Risk appetite is an organisation's attitude towards risk taking that in turn dictates the amount of risk it considers acceptable.</code></div>
<div></div>
</div>
<br>
<div><br>
</div>
<div>When using management by exception, the risk tolerance or risk appetite should be agreed between the project manager and the project board and included within the Risk Management Strategy document.</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<h2><a name="TOC-The-purpose-of-the-Risk-Management-Strategy-and-the-Risk-Register"></a>The purpose of the Risk Management Strategy and the Risk Register</h2>
<h3><a name="TOC-RISK-MANAGEMENT-STRATEGY"></a>RISK MANAGEMENT STRATEGY</h3>
<div>The Risk Management Strategy is a baselined document created in the Initiating a Project stage which sets out the context of risk analysis and management for this project.</div>
<div><br>
</div>
<h3><a name="TOC-RISK-REGISTER"></a>RISK REGISTER</h3>
<div>A dynamic management product made up of Risk records which is created in the Initiating a Project stage and maintained as risks come and go. It contains a history so they are not deleted if the risk passes without event.</div>
<div><br>
</div>
<div>Used in Controlling a Stage and Managing a Stage Boundary to update the Business Case. plan the next stage and is a fundamental part of managing a project.</div>
<div><br>
</div>
<div><br>
</div></div></td></tr></tbody></table>
</div> 
</div> 
</td> 
</tr>
</tbody></table> 
</div> 
</div> 
