<div id="upload-form">
  <form method="post" action="/upload" enctype="multipart/form-data"> 
  <!--<div class="field">
    <label for="document">document name</label>
    <input type="text" id="document" name="document_name" />
  </div>
  <div class="field">
    <label for="project">project name</label>
    <input type="text" id="project" name="project_name"/>
  </div>
  <div class="field">
    <label for="standard">pm standard</label>
    <input type="text" id="standard" name="pm_standard" />
  </div>
  <div class="field">
    <label for="type">document type</label>
    <input type="text" id="type" name="document_type" />
  </div>
  <div class="field">
    <label for="process">pm process</label>
   <input type="text" id="step" name="process_step" />
  </div>
  <div class="field">
    <label for="version">document version</label>
   <input type=text id="version" name="document_version" />
  </div>
  <div class="field">
    <label for="datetime">timestamp</label>
   <input type="text" id="datetime" name="document_timestamp" />
  </div>
  <div class="field">
    <label for="json">json format</label>
   <input type="area" id="json" name="j_document" rows=50 cols=60 />
  </div>//-->
  <p></p>
  <hr>
  <div class="uploader">
    <input type="file" name="document_pdf" value="document_pdf" id="pdf" /> <!--accept="application/pdf" required /> //-->
  </div>
  <p></p>
  <hr>
  <p>
  Only within the team approved documents in pdf format can be uploaded.<br>
  The approval must be mentioned in a to the meeting corresponding protocol.<br>
  Work documents are stored as pdf in the HU Box.
  </p>
  <div class="actions">
    <input type="submit" value="upload" />
  </div>
  </form>
</div>
